@{
    ViewBag.Title = "Game Date Hub";
}

@Scripts.Render("~/bundles/anime-min")
<div class="gdh-wrapper">
    @*<div class="gdh-navigation">
        <div class="gdh-site-nav gdh-navigation__main">
            <nav>
                <ul>
                    <li class="item">
                        <a class="item-content active" href="/Index.html">
                            <div class="label">
                                <div class="label-content">
                                    <span class="name">Home</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-content" href="apps.html">
                            <div class="label">
                                <div class="label-content">
                                    <span class="name">Apps</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-content" href="Support.html">
                            <div class="label">
                                <div class="label-content">
                                    <span class="name">Support</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>*@
    <div class="gdh-container">
        <div class="gdh-content">
            <main>
                <div class="landing">
                    <div class="landing__sidebar">
                        <h1 class="logo">
                            <svg class="svg" id="home-svg" viewBox="10 175 500 20" aria-labelledby="gdhTitle">
                                <title id="gdhTitle">Game Date Hub</title>
                                <path fill="none" stroke-width="1" stroke="#9aa4b8" d="M134.547,190.6h1.973q1.221,0,1.221.814,0,1.078-1.852,1.078a6.2,6.2,0,0,1-4.618-1.729,6.368,6.368,0,0,1-1.709-4.68,6.3,6.3,0,0,1,1.841-4.7,6.49,6.49,0,0,1,4.751-1.811,8.5,8.5,0,0,1,3.56.915v-8.26a14.538,14.538,0,0,0-4.557-.834,13.464,13.464,0,0,0-10.04,4.11A14.132,14.132,0,0,0,121.1,185.8a14.887,14.887,0,0,0,3.947,10.457,12.558,12.558,0,0,0,9.6,4.293,10.38,10.38,0,0,0,7.335-2.767,8.956,8.956,0,0,0,2.98-6.836,10.444,10.444,0,0,0-2.543-6.653h-7.873V190.6Zm19.5,2.177a2.693,2.693,0,0,1-2.014-.814,2.993,2.993,0,0,1,2.157-5.025,2.585,2.585,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.406,10.406,0,0,0-7.762-2.879,10.647,10.647,0,0,0-7.528,18.107,10.424,10.424,0,0,0,7.63,3.011,10,10,0,0,0,1.709-.163V192.25a3.452,3.452,0,0,1-1.852.529h0Zm39.783-4.557q0-4.131-1.811-6.287a7.539,7.539,0,0,0-6.1-2.767q-2.991,0-5.982,2.848a8.158,8.158,0,0,0-6.062-2.848,7.448,7.448,0,0,0-5.575,2.391,8.066,8.066,0,0,0-2.3,5.808v12.492h7.609V188.934q0-2.259,1.262-2.259a1.014,1.014,0,0,1,.966.489,3.891,3.891,0,0,1,.275,1.749v10.946h7.609V188.934q0-2.259,1.281-2.259a0.992,0.992,0,0,1,.957.489,4.03,4.03,0,0,1,.264,1.749v10.946h7.609V188.222Zm21.35,1.3a10.25,10.25,0,0,0-10.416-10.4,10.416,10.416,0,0,0-7.62,3.072,10.7,10.7,0,0,0-.03,15.035,10.377,10.377,0,0,0,7.589,3.032,10.643,10.643,0,0,0,6.734-2.381l-4.334-5.208a3.027,3.027,0,0,1-2.2,1.139,2.66,2.66,0,0,1-2.269-1.22,5.413,5.413,0,0,1-.864-3.194,5.081,5.081,0,0,1,.9-3.1,2.762,2.762,0,0,1,2.319-1.211,2.392,2.392,0,0,1,2.543,2.259h-3.865a5.336,5.336,0,0,0-.1,3.6H215.1q0.081-.977.081-1.424h0Zm18.856-9.461q7.1,0,7.1,5.676,0,6.043-7.222,6.043h-1.323v8.158q1.71,0.081,2.462.082a14.337,14.337,0,0,0,10.478-3.988,13.781,13.781,0,0,0,4.069-10.295,12.706,12.706,0,0,0-4.761-10.437q-4.008-3.213-11.088-3.214H222.987v27.771h8.26v-19.8h2.787Zm25.175,12.716a2.691,2.691,0,0,1-2.014-.814,2.992,2.992,0,0,1,2.156-5.025,2.582,2.582,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.4,10.4,0,0,0-7.761-2.879,10.646,10.646,0,0,0-7.528,18.107,10.422,10.422,0,0,0,7.629,3.011,9.991,9.991,0,0,0,1.709-.163V192.25a3.448,3.448,0,0,1-1.851.529h0Zm11.116-20.691v16.663a12.352,12.352,0,0,0,1.75,6.958,9.864,9.864,0,0,0,3.672,3.255,10.344,10.344,0,0,0,4.873,1.2c0.19,0,.481-0.007.875-0.02v-8a3.506,3.506,0,0,1-2.8-.915,5.385,5.385,0,0,1-.762-3.337h3.417V179.86h-3.417v-7.772h-7.61Zm21.066,20.691a2.691,2.691,0,0,1-2.014-.814,2.992,2.992,0,0,1,2.156-5.025,2.582,2.582,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.4,10.4,0,0,0-7.762-2.879,10.646,10.646,0,0,0-7.527,18.107,10.42,10.42,0,0,0,7.629,3.011,10,10,0,0,0,1.709-.163V192.25a3.451,3.451,0,0,1-1.851.529h0Zm28.072-10.763v-9.928H311.2v27.771h8.26V189.341h2.3v-7.325h-2.3Zm3.7-9.928v27.771h8.26V172.088h-8.26Zm10.119,18.473a10.357,10.357,0,0,0,2.055,6.836,9.137,9.137,0,0,0,13.407.438,9.224,9.224,0,0,0,2.625-6.663V179.86h-7.609v11.454q0,1.73-1.424,1.729-1.445,0-1.445-1.729V179.86h-7.609v10.7Zm18.95-18.473V189a11.454,11.454,0,0,0,2.441,7.588,9.98,9.98,0,0,0,3.571,2.686,10.86,10.86,0,0,0,12.095-2.055,10.1,10.1,0,0,0,3.113-7.507,10.2,10.2,0,0,0-3.062-7.447,9.984,9.984,0,0,0-7.355-3.092q-0.692,0-2.035.122v8.382a3.542,3.542,0,0,1,1.913-.732,2.664,2.664,0,0,1,1.994.844,2.891,2.891,0,0,1,.813,2.086,2.751,2.751,0,0,1-.864,2.044,2.9,2.9,0,0,1-2.106.845q-2.91,0-2.909-4.049V172.088h-7.609Z" />
                            </svg>
                        </h1>
                        <div class="headline">
                            <span class="text-wrapper">
                                <span class="letters">
                                    Analysis your game date and make you a game
                                    master.
                                </span>
                            </span>
                        </div>

                        <div class="counters">
                            <div>
                                <div class="value">3000+</div>
                                <div class="label">PLAYERS TRACKED</div>
                            </div>
                            <div class="separator"></div>
                            <div>
                                <div class="value">200+</div>
                                <div class="label">MATCHES PAST 24 HRS</div>
                            </div>
                        </div>

                        <div class="partners">
                            @*<div class="tagline">Game Sites</div>*@
                            <div class="partners-list">
                                @*<div class="partner">
                                    <a href="https://steelseries.com" rel="noopener" target="_blank">
                                        <img alt="SteelSeries"
                                             src="https://trackercdn.com/cdn/tracker.gg/img/partners/steelseries.png?v=2">
                                    </a>
                                </div>
                                <div class="partner">
                                    <a href="https://overwolf.com" rel="noopener" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.455 40">
                                            <path d="M37.611 14.014c.02 0-6.15-3.7-6.168-3.808a4.39 4.39 0 0 0-1.166-2.757c-.732-.573-5.677-2.938-5.687-2.963A35.022 35.022 0 0 1 22.177 0a5.563 5.563 0 0 0-1.572 1.955 5.793 5.793 0 0 0-.58 2.477 12.7 12.7 0 0 0-6.572 3.095c4.834-1.152 6.226-.09 6.226-.09a14.2 14.2 0 0 0-4.513 1.668 9.266 9.266 0 0 0-2.99 2.593s4.679-1.391 8.27-.038A7.883 7.883 0 0 0 16 13.92c7.443.959 11.114 7.676 12.658 13.1.568-9.654-4.054-13.32-4.054-13.32a6.1 6.1 0 0 1 4.11 2.8 8.765 8.765 0 0 1 5.11.663c-.036 0 1.78-.58 3.061-1.194-.11-.173-.573-.772-.837-1.107a2.1 2.1 0 0 0 1.563-.848Zm-10.28-4.273a6.136 6.136 0 0 1 2.146-.309c.419.164.427 1.4.427 1.4s-.957.142-2.573-1.091ZM3.209 33.284A3.362 3.362 0 0 0 3.201 40a3.362 3.362 0 0 0 .008-6.716ZM3.2 38.69a1.844 1.844 0 0 1-1.769-2.031 1.869 1.869 0 0 1 1.78-2.066 1.832 1.832 0 0 1 1.758 2.043A1.857 1.857 0 0 1 3.2 38.69ZM37.786 33.284a3.362 3.362 0 1 0 3.191 3.365 3.183 3.183 0 0 0-3.191-3.365Zm-.011 5.406a1.843 1.843 0 0 1-1.769-2.031 1.869 1.869 0 0 1 1.78-2.066 1.832 1.832 0 0 1 1.756 2.043 1.856 1.856 0 0 1-1.767 2.054ZM10.074 39.976h-.342l-.024-.049-3.073-6.475h1.6l1.684 3.952 1.685-3.952h1.567ZM16.535 40a3.053 3.053 0 0 1-3.143-3.363 3.121 3.121 0 0 1 3.085-3.353c1.787 0 2.914 1.306 2.914 3.337v.434h-4.557a1.664 1.664 0 0 0 1.793 1.631 2.18 2.18 0 0 0 .912-.185 2.257 2.257 0 0 0 .763-.551l.066-.068.772.968-.05.058A3.149 3.149 0 0 1 16.535 40Zm-1.674-4.025h3.085a1.463 1.463 0 0 0-1.483-1.441 1.638 1.638 0 0 0-1.602 1.441ZM31.743 39.977h-.356l-1.557-3.916-1.557 3.916h-.372l-2.507-6.524h1.526l1.263 3.629 1.47-3.665h.367l1.5 3.665 1.229-3.629h1.516ZM24.268 33.463h-.06a2.415 2.415 0 0 0-1.237.3 2.532 2.532 0 0 0-.935.895l-.029-1.206h-1.348v6.394h1.4v-3.032a1.679 1.679 0 0 1 .876-1.476 2.5 2.5 0 0 1 1.726-.342c-.115-.461-.393-1.533-.393-1.533ZM47.009 39.845h-1.4v-5.12H44.37l.32-1.274h.919V33.1a2.113 2.113 0 0 1 2.2-2.387 2.58 2.58 0 0 1 1.572.5l.064.048-.62 1.094-.078-.067a1.244 1.244 0 0 0-.85-.324c-.571 0-.9.392-.9 1.077v.411h2.014v1.274h-2.014ZM43.471 39.844h-1.4v-8.976h1.4Z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="partner">
                                    <a href="https://advanced.gg" rel="noopener" target="_blank">
                                        <img alt="ADVANCED.gg"
                                             src="https://trackercdn.com/cdn/tracker.gg/img/partners/advancedgg.png?v=2">
                                    </a>
                                </div>*@
                                <img src="https://www.overwolf.com/pages/homepage/img/home/mods/platforms-group.svg" alt="Cross-Platform UGC as a Service">
                            </div>
                            <div class="cutoff"></div>
                        </div>

                        <div class="social">
                            <a class="gdh-button gdh-button--platform-twitter"
                               href="" target="_blank" rel="noopener"
                               aria-label="Tracker Network Twitter">
                                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                     class="gdh-button__icon">
                                    <path fill="white"
                                          d="M19.1 4.334a7.14 7.14 0 0 1-2.05.575 3.582 3.582 0 0 0 1.567-1.984 7.2 7.2 0 0 1-2.267.875 3.52 3.52 0 0 0-2.633-1.133 3.571 3.571 0 0 0-3.558 3.575 3.716 3.716 0 0 0 .092.817 10.162 10.162 0 0 1-7.367-3.734 3.561 3.561 0 0 0 1.108 4.759 3.536 3.536 0 0 1-1.625-.417v.025A3.578 3.578 0 0 0 5.234 11.2a3.505 3.505 0 0 1-1.608.058 3.567 3.567 0 0 0 3.333 2.483 7.1 7.1 0 0 1-4.442 1.534 7.268 7.268 0 0 1-.85-.05 10.12 10.12 0 0 0 5.483 1.608A10.113 10.113 0 0 0 17.327 6.659c0-.158 0-.308-.008-.467A7.143 7.143 0 0 0 19.1 4.334Z">
                                    </path>
                                </svg>
                            </a>
                            <a class="gdh-button gdh-button--platform-discord"
                               href="" target="_blank" rel="noopener"
                               aria-label="Tracker Network Discord">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     class="gdh-button__icon">
                                    <path fill="white"
                                          d="M23.021 5.677A21.227 21.227 0 0 0 17.658 4c-.252.462-.483.935-.687 1.418a19.931 19.931 0 0 0-5.943 0c-.209-.483-.439-.956-.691-1.413-1.856.32-3.659.88-5.37 1.677-3.4 5.097-4.317 10.072-3.856 14.97A21.504 21.504 0 0 0 7.691 24c.532-.726 1.004-1.5 1.407-2.309a13.582 13.582 0 0 1-2.221-1.078c.188-.137.37-.274.547-.428a15.232 15.232 0 0 0 13.152 0c.177.148.36.291.541.428-.707.424-1.453.787-2.22 1.078.408.808.875 1.578 1.405 2.303a21.5 21.5 0 0 0 6.58-3.347h.007c.541-5.674-.922-10.6-3.868-14.97ZM9.681 17.638c-1.283 0-2.34-1.193-2.34-2.644s1.03-2.644 2.34-2.644c1.308 0 2.359 1.193 2.338 2.644 0 1.451-1.036 2.644-2.339 2.644Zm8.635 0c-1.283 0-2.34-1.193-2.34-2.644s1.036-2.644 2.34-2.644c1.302 0 2.36 1.193 2.338 2.644 0 1.451-1.036 2.644-2.338 2.644Z">
                                    </path>
                                </svg>
                            </a>
                            <a class="gdh-button gdh-button--platform-instagram"
                               href="" target="_blank"
                               rel="noopener" aria-label="Tracker Network Instagram">
                                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                     class="gdh-button__icon">
                                    <path fill="white"
                                          d="M5.8 0h8.4A5.8 5.8 0 0 1 20 5.8v8.4a5.8 5.8 0 0 1-5.8 5.8H5.8A5.8 5.8 0 0 1 0 14.2V5.8A5.8 5.8 0 0 1 5.8 0m-.2 2A3.6 3.6 0 0 0 2 5.6v8.8A3.6 3.6 0 0 0 5.6 18h8.8a3.6 3.6 0 0 0 3.6-3.6V5.6A3.6 3.6 0 0 0 14.4 2H5.6m9.65 1.5A1.25 1.25 0 1 1 14 4.75a1.25 1.25 0 0 1 1.25-1.25M10 5a5 5 0 1 1-5 5 5 5 0 0 1 5-5m0 2a3 3 0 1 0 3 3 3 3 0 0 0-3-3Z">
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="footer">
                            <div class="row">
                                <a href="" target="_blank"
                                   rel="noopener">Advertise</a>
                                <a href="" target="_blank"
                                   rel="noopener">Privacy Policy</a>
                                <a href="" target="_blank"
                                   rel="noopener">Terms of Service</a>
                                <a href=""
                                   download="">Press Kit</a>
                            </div>
                            <div>
                                2024 © <a href="">Game Data Hub</a>
                            </div>
                        </div>
                    </div>
                    <div class="landing__content">
                        <div class="checkpoint">
                            <a href="" class="checkpoint__box" >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="20 -5 350 32"
                                     class="checkpoint__logo">
                                    <path fill="white" transform="translate(-50, -175)" d="M134.547,190.6h1.973q1.221,0,1.221.814,0,1.078-1.852,1.078a6.2,6.2,0,0,1-4.618-1.729,6.368,6.368,0,0,1-1.709-4.68,6.3,6.3,0,0,1,1.841-4.7,6.49,6.49,0,0,1,4.751-1.811,8.5,8.5,0,0,1,3.56.915v-8.26a14.538,14.538,0,0,0-4.557-.834,13.464,13.464,0,0,0-10.04,4.11A14.132,14.132,0,0,0,121.1,185.8a14.887,14.887,0,0,0,3.947,10.457,12.558,12.558,0,0,0,9.6,4.293,10.38,10.38,0,0,0,7.335-2.767,8.956,8.956,0,0,0,2.98-6.836,10.444,10.444,0,0,0-2.543-6.653h-7.873V190.6Zm19.5,2.177a2.693,2.693,0,0,1-2.014-.814,2.993,2.993,0,0,1,2.157-5.025,2.585,2.585,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.406,10.406,0,0,0-7.762-2.879,10.647,10.647,0,0,0-7.528,18.107,10.424,10.424,0,0,0,7.63,3.011,10,10,0,0,0,1.709-.163V192.25a3.452,3.452,0,0,1-1.852.529h0Zm39.783-4.557q0-4.131-1.811-6.287a7.539,7.539,0,0,0-6.1-2.767q-2.991,0-5.982,2.848a8.158,8.158,0,0,0-6.062-2.848,7.448,7.448,0,0,0-5.575,2.391,8.066,8.066,0,0,0-2.3,5.808v12.492h7.609V188.934q0-2.259,1.262-2.259a1.014,1.014,0,0,1,.966.489,3.891,3.891,0,0,1,.275,1.749v10.946h7.609V188.934q0-2.259,1.281-2.259a0.992,0.992,0,0,1,.957.489,4.03,4.03,0,0,1,.264,1.749v10.946h7.609V188.222Zm21.35,1.3a10.25,10.25,0,0,0-10.416-10.4,10.416,10.416,0,0,0-7.62,3.072,10.7,10.7,0,0,0-.03,15.035,10.377,10.377,0,0,0,7.589,3.032,10.643,10.643,0,0,0,6.734-2.381l-4.334-5.208a3.027,3.027,0,0,1-2.2,1.139,2.66,2.66,0,0,1-2.269-1.22,5.413,5.413,0,0,1-.864-3.194,5.081,5.081,0,0,1,.9-3.1,2.762,2.762,0,0,1,2.319-1.211,2.392,2.392,0,0,1,2.543,2.259h-3.865a5.336,5.336,0,0,0-.1,3.6H215.1q0.081-.977.081-1.424h0Zm18.856-9.461q7.1,0,7.1,5.676,0,6.043-7.222,6.043h-1.323v8.158q1.71,0.081,2.462.082a14.337,14.337,0,0,0,10.478-3.988,13.781,13.781,0,0,0,4.069-10.295,12.706,12.706,0,0,0-4.761-10.437q-4.008-3.213-11.088-3.214H222.987v27.771h8.26v-19.8h2.787Zm25.175,12.716a2.691,2.691,0,0,1-2.014-.814,2.992,2.992,0,0,1,2.156-5.025,2.582,2.582,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.4,10.4,0,0,0-7.761-2.879,10.646,10.646,0,0,0-7.528,18.107,10.422,10.422,0,0,0,7.629,3.011,9.991,9.991,0,0,0,1.709-.163V192.25a3.448,3.448,0,0,1-1.851.529h0Zm11.116-20.691v16.663a12.352,12.352,0,0,0,1.75,6.958,9.864,9.864,0,0,0,3.672,3.255,10.344,10.344,0,0,0,4.873,1.2c0.19,0,.481-0.007.875-0.02v-8a3.506,3.506,0,0,1-2.8-.915,5.385,5.385,0,0,1-.762-3.337h3.417V179.86h-3.417v-7.772h-7.61Zm21.066,20.691a2.691,2.691,0,0,1-2.014-.814,2.992,2.992,0,0,1,2.156-5.025,2.582,2.582,0,0,1,2.106.956,3.925,3.925,0,0,1,.783,2.564v9.4h7.609V189.91a10.712,10.712,0,0,0-2.838-7.863,10.4,10.4,0,0,0-7.762-2.879,10.646,10.646,0,0,0-7.527,18.107,10.42,10.42,0,0,0,7.629,3.011,10,10,0,0,0,1.709-.163V192.25a3.451,3.451,0,0,1-1.851.529h0Zm28.072-10.763v-9.928H311.2v27.771h8.26V189.341h2.3v-7.325h-2.3Zm3.7-9.928v27.771h8.26V172.088h-8.26Zm10.119,18.473a10.357,10.357,0,0,0,2.055,6.836,9.137,9.137,0,0,0,13.407.438,9.224,9.224,0,0,0,2.625-6.663V179.86h-7.609v11.454q0,1.73-1.424,1.729-1.445,0-1.445-1.729V179.86h-7.609v10.7Zm18.95-18.473V189a11.454,11.454,0,0,0,2.441,7.588,9.98,9.98,0,0,0,3.571,2.686,10.86,10.86,0,0,0,12.095-2.055,10.1,10.1,0,0,0,3.113-7.507,10.2,10.2,0,0,0-3.062-7.447,9.984,9.984,0,0,0-7.355-3.092q-0.692,0-2.035.122v8.382a3.542,3.542,0,0,1,1.913-.732,2.664,2.664,0,0,1,1.994.844,2.891,2.891,0,0,1,.813,2.086,2.751,2.751,0,0,1-.864,2.044,2.9,2.9,0,0,1-2.106.845q-2.91,0-2.909-4.049V172.088h-7.609Z">
                                    </path>
                                </svg>
                            </a>
                            <div class="checkpoint__border"></div>
                            <div class="checkpoint__container">
                                <div class="checkpoint__prev" onclick="scrollContent('left')">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 5.558 9" class="checkpoint__icon">
                                        <path d="M5.558 1.057 4.5 0 0 4.5 4.5 9l1.058-1.057L2.122 4.5Z"
                                              data-name="Path 3828"></path>
                                    </svg>
                                </div>
                                <div class="checkpoint__content" id="content">
                                    <a href="https://www.fortnite.com/news/winterfest-2023-begins-in-the-fortnite-battle-royale-v28-01-dec-14-hotfix?lang=en-US"
                                       class="checkpoint-article"
                                       title="Fortnite Winterfest 2023 - Everything You Need To Know!">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F16930_hq720.png/image.png"
                                             alt="Fortnite Winterfest 2023 - Everything You Need To Know!"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            Fortnite
                                            Winterfest 2023 - Everything You Need To Know!
                                        </div>
                                    </a>
                                    <a href="https://www.thegamer.com/lego-fortnite-complete-guide-walkthrough/"
                                       class="checkpoint-article"
                                       title="LEGO Fortnite: Everything You Need To Know">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F151155_resize_jpg_1600x900_crop_q85.png/image.png"
                                             alt="LEGO Fortnite: Everything You Need To Know" width="72"
                                             height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            LEGO
                                            Fortnite: Everything You Need To Know
                                        </div>
                                    </a>
                                    <a href="https://www.pcgamesn.com/destiny-2/warlords-ruin-guide"
                                           class="checkpoint-article" title="GUIDE: Warlord's Ruin">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F15243_2023_Warlord_s_Ruin_Dungeon_Press_Kit_Dungeon_COMPRESSED_005.jpg/image.jpg"
                                             alt="GUIDE: Warlord's Ruin" width="72" height="40"
                                             loading="lazy">
                                        <div class="checkpoint-article__title">
                                            GUIDE:
                                            Warlord's Ruin
                                        </div>
                                    </a>
                                    <a href="https://afkgaming.com/esports/guide/fortnite-redeem-codes-december-2023-free-emotes-skins-sprays-banner-more"
                                           class="checkpoint-article"
                                           title="All Free Fortnite Cosmetics - December 2023!">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F141011_fortnite-refer-a-friend-3-0-rewards-1920x1080-a32623d9e10b.jpg/image.jpg"
                                             alt="All Free Fortnite Cosmetics - December 2023!" width="72"
                                             height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            All Free
                                            Fortnite Cosmetics - December 2023!
                                        </div>
                                    </a><a href="https://esi.si.com/fortnite/rocket-racing-ranked"
                                           class="checkpoint-article"
                                           title="Rocket Racing in Fortnite: All You Need to Know!">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F12115_rocket-racing.png/image.png"
                                             alt="Rocket Racing in Fortnite: All You Need to Know!"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            Rocket
                                            Racing in Fortnite: All You Need to Know!
                                        </div>
                                    </a><a href="https://beebom.com/valorant-night-market/"
                                           class="checkpoint-article"
                                           title="VALORANT Night Market December 2023: Start and End Date, Skins">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F81250_GAwej1-WQAE3oz_.jpg/image.jpg"
                                             alt="VALORANT Night Market December 2023: Start and End Date, Skins"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            VALORANT
                                            Night Market December 2023: Start and End Date, Skins
                                        </div>
                                    </a><a href="https://afkgaming.com/esports/guide/valorant-overdrive-bundle-skins-items-price-release-date-more"
                                           class="checkpoint-article"
                                           title="Overdrive Skin Bundle: Preview, Price, Release Date and More">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F61620_GAmtNhxXYAARcxv.jpg/image.jpg"
                                             alt="Overdrive Skin Bundle: Preview, Price, Release Date and More"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            Overdrive
                                            Skin Bundle: Preview, Price, Release Date and More
                                        </div>
                                    </a>
                                    <a href="https://playvalorant.com/en-us/news/game-updates/valorant-team-deathmatch-101/"
                                           class="checkpoint-article"
                                           title="VALORANT Team Deathmatch Map &quot;Drift&quot;: Preview, Release Date and More">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F4144_Drift_Screenshot_12.jpg/image.jpg"
                                             alt="VALORANT Team Deathmatch Map &quot;Drift&quot;: Preview, Release Date and More"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            VALORANT
                                            Team Deathmatch Map "Drift": Preview, Release Date and More
                                        </div>
                                    </a>
                                    <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-7-12/"
                                           class="checkpoint-article"
                                           title="VALORANT 7.12 Early Patch Notes: Agent Changes, Performance Updates">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F12%2F21212_valorant-patch-notes-6.04-update-gekko-oni-2.0-skins.jpg/image.jpg"
                                             alt="VALORANT 7.12 Early Patch Notes: Agent Changes, Performance Updates"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            VALORANT
                                            7.12 Early Patch Notes: Agent Changes, Performance Updates
                                        </div>
                                    </a>
                                    <a href="https://www.dexerto.com/fortnite/fortnite-chapter-5-the-big-bang-eminem-lego-2408824/"
                                           class="checkpoint-article"
                                           title="Fortnite Chapter 5 Leaks! Eminem, LEGO, and Rocket Racing Await!" target="_blank">
                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F11%2F221054_Fortnite-Eminem-Leak-2.jpg/image.jpg"
                                             alt="Fortnite Chapter 5 Leaks! Eminem, LEGO, and Rocket Racing Await!"
                                             width="72" height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            Fortnite
                                            Chapter 5 Leaks! Eminem, LEGO, and Rocket Racing Await!
                                        </div>
                                    </a>
                                    <a href="https://insider-gaming.com/lightning-mcqueen-rocket-league/"
                                       class="checkpoint-article"
                                       title="Lightning McQueen Comes to Rocket League"
                                       target="_blank">

                                        <img class="checkpoint-article__image"
                                             src="https://imgsvc.trackercdn.com/url/max-width(108),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fghost%2Fimages%2F2023%2F11%2F151940_Screenshot_29.png/image.png"
                                             alt="Lightning McQueen Comes to Rocket League" width="72"
                                             height="40" loading="lazy">
                                        <div class="checkpoint-article__title">
                                            Lightning
                                            McQueen Comes to Rocket League
                                        </div>
                                    </a>
                                </div>
                                <div class="checkpoint__next" onclick="scrollContent('right')">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.557 9"
                                         class="checkpoint__icon">
                                        <path d="M-.001 7.943 1.057 9l4.5-4.5-4.5-4.5-1.058 1.057L3.435 4.5Z"
                                              data-name="Path 3830"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="landing__content-sections">
                            <div>
                                <div class="headline">
                                    <span style="color: #E2263C;">ALL GAMES</span>
                                </div>
                                <div class="list">
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "Valorant")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/valorant.jpg" alt="Valorant">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "Valorant")">
                                            <div class="game-info-name">Valorant</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "LOL")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/league-of-legends.jpg" alt="League of Legends">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "LOL")">
                                                <div class="game-info-name">League of Legends</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Bf2042", "Bf2042")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/bf2042.jpg" alt="Battlefield 2042">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Bf2042", "Bf2042")">
                                                <div class="game-info-name">Battlefield 2042</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "BfV")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/bfv.jpg" alt="Battlefield V">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "BfV")">
                                                <div class="game-info-name">Battlefield V</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "Bf1")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/bf1.jpg" alt="Battlefield 1">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "Bf1")">
                                                <div class="game-info-name">Battlefield 1</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "PUBG")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/pubg.jpg" alt="PUBG: BATTLEGROUNDS">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "PUBG")">
                                                <div class="game-info-name">PUBG: BATTLEGROUNDS</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "COD")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/modern-warfare-2.jpg" alt="Modern Warfare 2">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "COD")">
                                                <div class="game-info-name">Modern Warfare 2</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "APEX")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/apex.jpg" alt="Apex Legends">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "APEX")">
                                                <div class="game-info-name">Apex Legends</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "CS2")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/cs2.jpg" alt="Counter-Strike 2">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "CS2")">
                                                <div class="game-info-name">Counter-Strike 2</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game">
                                        <div class="game-image">
                                            <a href="@Url.Action("Overview", "RBS6")">
                                                <img src="https://trackercdn.com/cdn/tracker.gg/boxart/r6siege.jpg" alt="Rainbow Six Siege">
                                            </a>
                                        </div>
                                        <div class="game-info">
                                            <a href="@Url.Action("Overview", "RBS6")">
                                                <div class="game-info-name">Rainbow Six Siege</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promo">
                            <div class="mobile-promo__container">
                                <div class="mobile-promo__content--desktop">
                                    <img class="preview" src="https://trackercdn.com/cdn/tracker.gg/mobile-app/promos/iphone-fortnite.png" alt="Preview of our mobile app available on Android and iOS" loading="lazy">
                                    <div class="text">
                                        <span class="title">Get the Mobile App</span>
                                        <p>I'm in the process of planning a new mobile app. If you’re interested and would like to collaborate, please feel free to contact me.</p>
                                    </div>
                                    <div class="button-area">
                                        <a href="@Url.Action("Contact", "Home")" class="gdh-button trn-button--primary trn-button--large">Get Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<div class="gdh-scroll-peek">
</div>
<script>

    const itemContents = document.querySelectorAll('.item-content');

    itemContents.forEach(itemContent => {
        itemContent.addEventListener('click', function () {
            itemContents.forEach(item => item.classList.remove('active'));
            this.classList.add('active');
        });
    });

    anime({
        targets: '#home-svg path',
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: 'easeInOutQuad',
        duration: 50000,
        direction: 'alternate',
        loop: true
    });

    var textWrapper = document.querySelector('.headline .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letters'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.landing__sidebar .headline .letters',
            translateY: ["1.1em", 0],
            translateZ: 0,
            duration: 750,
            delay: (el, i) => 50 * i
        }).add({
            targets: '.landing__sidebar .headline',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });

    function scrollContent(direction) {
        const content = document.getElementById('content');
        let scrollLeft = content.scrollLeft;

        const scrollAmount = 100;

        if (direction === 'left') {
            scrollLeft -= scrollAmount;
        } else if (direction === 'right') {
            scrollLeft += scrollAmount;
        }
        content.scrollTo({ left: scrollLeft, behavior: 'smooth' });
    }
</script>