@{
    var sharedRouteValues = new System.Web.Routing.RouteValueDictionary {
        { "HeroName", ViewData["HeroName"] },
        { "PlatForm", ViewData["PlatForm"] },
    };
}

<body>
    <div class="ph">
        <div class="ph__cover ph__cover--default">
            <img class="absolute object-cover w-full h-full" src="https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg" srcset="https://imgsvc.trackercdn.com/url/max-width(960),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 640w, https://imgsvc.trackercdn.com/url/max-width(1380),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 920w, https://imgsvc.trackercdn.com/url/max-width(1800),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 1200w, https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 1920w" alt="Hero image" sizes="100vw">
            <div class="ph__cover-overlay">
            </div>
        </div>
        <div class="ph__container">
            <div class="user-avatar user-avatar--large ph-avatar">
                <div class="trn-tooltip-wrapper">
                </div>
                <img class="user-avatar__image" src=@ViewData["Avatar"] alt=""><!---->
            </div>
            <div class="ph-details">
                <div class="ph-details__subtitle">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="ph-details__views">
                            <path d="M9 3.375A8.87 8.87 0 0 0 .75 9a8.862 8.862 0 0 0 16.5 0A8.87 8.87 0 0 0 9 3.375Zm0 9.375A3.75 3.75 0 1 1 12.75 9 3.751 3.751 0 0 1 9 12.75Zm0-6A2.25 2.25 0 1 0 11.25 9 2.247 2.247 0 0 0 9 6.75Z"></path>
                        </svg>
                        <span data-v-08c969aa="">71 views</span>
                    </span>
                </div>
                <div class="ph-details__identifier">
                    <div class="platform-status">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32" class="background">
                            <circle cx="16" cy="16" r="16" style="opacity: 0.15;"></circle>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.377 255.763" class="platform-icon platform-origin icon">
                            <path d="M89.961 91.054a37.345 37.345 0 0 0-25.682 16.123 36.564 36.564 0 0 0-6.25 20.158 36.6 36.6 0 0 0 10.145 26.078 37.169 37.169 0 0 0 62.566-14.685c4.721-14.55-.938-31.594-13.265-40.584a37.072 37.072 0 0 0-27.514-7.09m.976-90.71a2.781 2.781 0 0 1 3.966 1.421c.521 1.34-.38 2.566-1.118 3.6a63.112 63.112 0 0 0-10.329 24.913 1.9 1.9 0 0 0-.971 2.447c.488.179.982.337 1.481.488a102.673 102.673 0 0 1 30.407 1.427 94.74 94.74 0 0 1 48.188 25.985 95.214 95.214 0 0 1 25.829 47.881 95.626 95.626 0 0 1-6.385 58.475 197.822 197.822 0 0 1-82.486 88.426c-1.156.538-2.821.559-3.612-.591a3.264 3.264 0 0 1 .374-4.015 62.558 62.558 0 0 0 10.041-22.579 17.706 17.706 0 0 0 .689-5.1c-.592-.77-1.568-.537-2.4-.509a95.261 95.261 0 0 1-51.005-9.049 95.371 95.371 0 0 1-40.56-37.486A94.19 94.19 0 0 1 .016 126.76a95.517 95.517 0 0 1 11.966-45.325A197.216 197.216 0 0 1 90.937.344"></path>
                        </svg>
                    </div>
                    <span class="trn-ign ph-details__name">
                        <span data-v-0b2ed7a2="" class="fit-text-parent">
                            <span data-v-0b2ed7a2="" class="trn-ign__username">@ViewData["HeroName"]</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ph-nav">
            <ul class="trn-tabs">
                <li class="liAdjuest">
                    @if (ViewData["Page"] == "Overview")
                    {
                        <a href="@Url.Action("Overview", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Overview</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Overview", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Overview</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Maps")
                    {
                        <a href="@Url.Action("Maps", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Maps</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Maps", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Maps</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Modes")
                    {
                        <a href="@Url.Action("Modes", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Modes</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modes", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Modes</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Specialists")
                    {
                        <a href="@Url.Action("Specialists", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Specialists</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Specialists", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Specialists</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Weapons")
                    {
                        <a href="@Url.Action("Weapons", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Weapons</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Weapons", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Weapons</a>
                    }

                </li>
                <li>
                    @if (ViewData["Page"] == "Gadgets")
                    {
                        <a href="@Url.Action("Gadgets", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Gadgets</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Gadgets", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Gadgets</a>
                    }

                </li>
                <li>
                    @if (ViewData["Page"] == "Vehicles")
                    {
                        <a href="@Url.Action("Vehicles", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Vehicles</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Vehicles", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Vehicles</a>
                    }

                </li>
            </ul>
        </div>
        <input id="HeroName" value=ViewData["HeroName"] hidden />
        <input id="PlatForm" value=ViewData["PlatForm"] hidden />
    </div>
    <script>
        var tabs = document.querySelectorAll('.trn-tabs__item');

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                console.log(tab);
                if (!tab.classList.contains('.active')) {
                    tab.classList.add('.active')
                } else {
                    tab.classList.remove('.active')
                }
            });
        });
    </script>
</body>