@{
    var sharedRouteValues = new System.Web.Routing.RouteValueDictionary {
        { "HeroName", ViewData["HeroName"] },
        { "PlatForm", ViewData["PlatForm"] },
    };
}

<body>
    <div class="ph">
        <div class="ph__cover ph__cover--default">
            <img class="absolute object-cover w-full h-full" src="https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg" srcset="https://imgsvc.trackercdn.com/url/max-width(960),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 640w, https://imgsvc.trackercdn.com/url/max-width(1380),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 920w, https://imgsvc.trackercdn.com/url/max-width(1800),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 1200w, https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fbf2042%2Fprofile-hero.jpg/image.jpg 1920w" alt="Hero image" sizes="100vw">
            <div class="ph__cover-overlay">
            </div>
        </div>
        <div class="ph__container">
            <div class="user-avatar user-avatar--large ph-avatar">
                <div class="trn-tooltip-wrapper">
                </div>
                <img class="user-avatar__image" src=@ViewData["Avatar"] alt=""><!---->
            </div>
            <div class="ph-details">
                <div class="ph-details__subtitle">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="ph-details__views">
                            <path d="M9 3.375A8.87 8.87 0 0 0 .75 9a8.862 8.862 0 0 0 16.5 0A8.87 8.87 0 0 0 9 3.375Zm0 9.375A3.75 3.75 0 1 1 12.75 9 3.751 3.751 0 0 1 9 12.75Zm0-6A2.25 2.25 0 1 0 11.25 9 2.247 2.247 0 0 0 9 6.75Z"></path>
                        </svg>
                        <span data-v-08c969aa="">71 views</span>
                    </span>
                </div>
                <div class="ph-details__identifier">
                    <div class="platform-status">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32" class="background">
                            <circle cx="16" cy="16" r="16" style="opacity: 0.15;"></circle>
                        </svg>
                        @if (ViewData["PlatForm"].ToString() == "pc")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.377 255.763" class="platform-icon platform-origin icon">
                                <path d="M89.961 91.054a37.345 37.345 0 0 0-25.682 16.123 36.564 36.564 0 0 0-6.25 20.158 36.6 36.6 0 0 0 10.145 26.078 37.169 37.169 0 0 0 62.566-14.685c4.721-14.55-.938-31.594-13.265-40.584a37.072 37.072 0 0 0-27.514-7.09m.976-90.71a2.781 2.781 0 0 1 3.966 1.421c.521 1.34-.38 2.566-1.118 3.6a63.112 63.112 0 0 0-10.329 24.913 1.9 1.9 0 0 0-.971 2.447c.488.179.982.337 1.481.488a102.673 102.673 0 0 1 30.407 1.427 94.74 94.74 0 0 1 48.188 25.985 95.214 95.214 0 0 1 25.829 47.881 95.626 95.626 0 0 1-6.385 58.475 197.822 197.822 0 0 1-82.486 88.426c-1.156.538-2.821.559-3.612-.591a3.264 3.264 0 0 1 .374-4.015 62.558 62.558 0 0 0 10.041-22.579 17.706 17.706 0 0 0 .689-5.1c-.592-.77-1.568-.537-2.4-.509a95.261 95.261 0 0 1-51.005-9.049 95.371 95.371 0 0 1-40.56-37.486A94.19 94.19 0 0 1 .016 126.76a95.517 95.517 0 0 1 11.966-45.325A197.216 197.216 0 0 1 90.937.344"></path>
                            </svg>
                        }
                        @if (ViewData["PlatForm"].ToString() == "xboxone")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88" class="platform-icon platform-xbl icon">
                                <path d="M39.73 86.91c-6.628-.635-13.338-3.015-19.102-6.776-4.83-3.15-5.92-4.447-5.92-7.032 0-5.193 5.71-14.29 15.48-24.658 5.547-5.89 13.275-12.79 14.11-12.604 1.626.363 14.616 13.034 19.48 19 7.69 9.43 11.224 17.154 9.428 20.597-1.365 2.617-9.837 7.733-16.06 9.698-5.13 1.62-11.867 2.306-17.416 1.775zM8.184 67.703c-4.014-6.158-6.042-12.22-7.02-20.988-.324-2.895-.21-4.55.733-10.494 1.173-7.4 5.39-15.97 10.46-21.24 2.158-2.24 2.35-2.3 4.982-1.41 3.19 1.08 6.6 3.436 11.89 8.22l3.09 2.794-1.69 2.07c-7.828 9.61-16.09 23.24-19.2 31.67-1.69 4.58-2.37 9.18-1.64 11.095.49 1.294.04.812-1.61-1.714zm70.453 1.047c.397-1.936-.105-5.49-1.28-9.076-2.545-7.765-11.054-22.21-18.867-32.032l-2.46-3.092 2.662-2.443c3.474-3.19 5.886-5.1 8.49-6.723 2.053-1.28 4.988-2.413 6.25-2.413.777 0 3.516 2.85 5.726 5.95 3.424 4.8 5.942 10.63 7.218 16.69.825 3.92.894 12.3.133 16.21-.63 3.208-1.95 7.366-3.23 10.187-.97 2.113-3.36 6.218-4.41 7.554-.54.687-.54.686-.24-.796zM40.44 11.505C36.834 9.675 31.272 7.71 28.2 7.18c-1.076-.185-2.913-.29-4.08-.23-2.536.128-2.423-.004 1.643-1.925 3.38-1.597 6.2-2.536 10.03-3.34C40.098.78 48.193.77 52.43 1.663c4.575.965 9.964 2.97 13 4.84l.904.554-2.07-.104C60.148 6.745 54.15 8.408 47.71 11.54c-1.942.946-3.63 1.7-3.754 1.68-.123-.024-1.706-.795-3.52-1.715z"></path>
                            </svg>
                        }
                        @if (ViewData["PlatForm"].ToString() == "ps4")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="5 117.952 990 764.096"
                                 class="platform-icon platform-psn icon">
                                <path d="M986.195 702.762c-19.338 24.398-66.718 41.803-66.718 41.803l-352.455 126.6V777.8l259.383-92.42c29.436-10.546 33.955-25.455 10.029-33.28-23.881-7.848-67.122-5.6-96.58 4.992l-172.832 60.871v-96.895l9.962-3.373s49.942-17.675 120.168-25.455c70.226-7.735 156.215 1.057 223.72 26.646 76.072 24.039 84.64 59.478 65.323 83.876zM600.572 543.781V305.019c0-28.041-5.172-53.855-31.481-61.164-20.147-6.454-32.65 12.255-32.65 40.273v597.919l-161.251-51.18V117.952c68.562 12.728 168.447 42.814 222.145 60.917 136.562 46.884 182.861 105.237 182.861 236.716-.001 128.151-79.108 176.723-179.624 128.196zM79.31 768.041c-78.096-21.992-91.093-67.82-55.497-94.22 32.898-24.375 88.845-42.725 88.845-42.725l231.208-82.211v93.725l-166.378 59.544c-29.39 10.547-33.91 25.478-10.029 33.303 23.903 7.826 67.167 5.6 96.603-4.969l79.805-28.963v83.853c-5.06.899-10.703 1.799-15.921 2.676-79.829 13.042-164.851 7.6-248.636-20.013z">
                                </path>
                            </svg>
                        }
                    </div>
                    <span class="trn-ign ph-details__name">
                        <span data-v-0b2ed7a2="" class="fit-text-parent">
                            <span data-v-0b2ed7a2="" class="trn-ign__username">@ViewData["HeroName"]</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ph-nav">
            <ul class="trn-tabs">
                <li class="liAdjuest">
                    @if (ViewData["Page"] == "Overview")
                    {
                        <a href="@Url.Action("Overview", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Overview</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Overview", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Overview</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Maps")
                    {
                        <a href="@Url.Action("Maps", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Maps</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Maps", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Maps</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Modes")
                    {
                        <a href="@Url.Action("Modes", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Modes</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modes", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Modes</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Specialists")
                    {
                        <a href="@Url.Action("Specialists", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Specialists</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Specialists", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Specialists</a>
                    }
                </li>
                <li>
                    @if (ViewData["Page"] == "Weapons")
                    {
                        <a href="@Url.Action("Weapons", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Weapons</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Weapons", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Weapons</a>
                    }

                </li>
                <li>
                    @if (ViewData["Page"] == "Gadgets")
                    {
                        <a href="@Url.Action("Gadgets", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Gadgets</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Gadgets", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Gadgets</a>
                    }

                </li>
                <li>
                    @if (ViewData["Page"] == "Vehicles")
                    {
                        <a href="@Url.Action("Vehicles", "Bf2042",sharedRouteValues)" class="trn-tabs__item active">Vehicles</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Vehicles", "Bf2042",sharedRouteValues)" class="trn-tabs__item">Vehicles</a>
                    }

                </li>
            </ul>
        </div>
        <input id="HeroName" value=@ViewData["HeroName"] hidden />
        <input id="PlatForm" value=@ViewData["PlatForm"] hidden />
    </div>
    <script>
        /*Control show more info*/
        document.addEventListener("DOMContentLoaded", function () {
            var expandElements = document.querySelectorAll(".st-content__category .st__item--expand");
            expandElements.forEach(function (expandElement, index) {
                expandElement.addEventListener("click", function () {
                    var expand = expandElements[index];
                    if (expand.classList.contains("st-content__item-expand--active")) {
                        expand.classList.remove("st-content__item-expand--active");
                    } else {
                        expand.classList.add("st-content__item-expand--active");
                    }
                    var drawer = document.querySelector(".st-content__category>.st-content__drawer:nth-child(" + (2 * (index + 1)) + ")");
                    drawer.style.display = (drawer.style.display === "none" || drawer.style.display === "") ? "block" : "none";
                });
            });
        });
    </script>
</body>