<!DOCTYPE html>
@{
    var sharedRouteValues = new System.Web.Routing.RouteValueDictionary {
        { "AccountName", ViewBag.AccountName }
    };
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="app-container">
        <div id="app">
            <div class="gdh-scroll-peek"></div>
            <nav class="gdh-game-bar" style="overflow: visible;">
                <div class="gdh-game-bar__logo">
                    <a href="@Url.Action("Index", "Home",sharedRouteValues)" class="gdh-game-bar-company" aria-label="gdh Homepage">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 60"
                             class="gdh-game-bar-company__logo">
                            <path fill="white" d="M47.85,30.019q-3.9.2-8.85,0.2-2.5,0-6.35-.2v0.9l4.8,0.35a2.094,2.094,0,0,1,1.175.35A1.275,1.275,0,0,1,39,32.669v5.55q0,5.351-7.5,5.35a13.17,13.17,0,0,1-10.125-4.525A15.2,15.2,0,0,1,17.25,28.469q0-6.949,4-11.05t11.05-4.1q6.9,0,10,7.45l0.7-.15-0.4-6a23.18,23.18,0,0,0-11.1-2.4q-8.45,0-13.825,4.7A15.392,15.392,0,0,0,12.3,29.069a14.527,14.527,0,0,0,4.85,11.35Q22,44.769,30.2,44.769a31.625,31.625,0,0,0,5.4-.45,23.554,23.554,0,0,0,4.575-1.225,6.049,6.049,0,0,0,2.35-1.3A2.7,2.7,0,0,0,43,40.619a18.832,18.832,0,0,0,.1-2.4v-5.55a1.309,1.309,0,0,1,.325-1,2.133,2.133,0,0,1,1.175-.4l3.25-.35v-0.9Zm2.9,9.6a3.818,3.818,0,0,1-.325,1.9,1.618,1.618,0,0,1-1.125.65l-3.9.85v0.8h10l8.1,0.2a25.118,25.118,0,0,0,8.05-1.4,12.5,12.5,0,0,0,6.75-5.725,17.271,17.271,0,0,0,2.6-9.025,15.531,15.531,0,0,0-.9-5.3,14.317,14.317,0,0,0-2.525-4.425,15.407,15.407,0,0,0-4.15-3.375,17.329,17.329,0,0,0-5.375-2,42.9,42.9,0,0,0-7.75-.55q-1.9,0-6.5.275t-7.8.175v0.8l3.4,0.6a1.572,1.572,0,0,1,1.15.65,3.507,3.507,0,0,1,.3,1.7v23.2Zm4.1-23.2q0-1.9.7-2.425t3.4-.525q8,0,12.5,3.8a12.891,12.891,0,0,1,4.5,10.4q0,7.55-4.325,11.325A14.847,14.847,0,0,1,61.55,42.769a7.822,7.822,0,0,1-4.975-1.375,3.852,3.852,0,0,1-1.725-2.975v-22Zm52.75,11.15H89.65V15.619a2.9,2.9,0,0,1,.2-1.3,1.107,1.107,0,0,1,.85-0.45l3.8-.5v-0.8a35.871,35.871,0,0,1-3.95.2q-6.65,0-8.55-.2v0.8l2.65,0.3a1.013,1.013,0,0,1,.85.475,2.98,2.98,0,0,1,.25,1.425v25a3.289,3.289,0,0,1-.25,1.5,1.417,1.417,0,0,1-1.05.6l-3.85.7v0.8q2.5-.2,7.65-0.2,2.9,0,5.55.2v-0.8l-3.1-.5a1,1,0,0,1-.85-0.575,5.025,5.025,0,0,1-.2-1.725V29.019H107.6v11.55a5.094,5.094,0,0,1-.2,1.7,0.962,0.962,0,0,1-.8.6l-3.1.5v0.8q2.649-.2,5.55-0.2,5.148,0,7.65.2v-0.8l-3.85-.7a1.429,1.429,0,0,1-1.125-.6,3.608,3.608,0,0,1-.225-1.5V15.619a2.889,2.889,0,0,1,.2-1.3,1.1,1.1,0,0,1,.85-0.45l3.55-.5v-0.8a34.4,34.4,0,0,1-3.8.2q-6.552,0-8.45-.2v0.8l2.65,0.3a1.014,1.014,0,0,1,.85.475,2.985,2.985,0,0,1,.25,1.425v12Z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="gdh-game-bar__titles">
                    <a href="@Url.Action("Bf2042", "Bf2042", sharedRouteValues)" class="gdh-game-bar-title"
                       aria-label="BattleField 2042 Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.2 31.2"
                             class="gdh-game-bar-title__icon">
                            <path d="M13.8 1.1h9.5v3.6h-5.7v8.9h5.7v3.5h-5.7V30h-3.8V1.1zM9.7 15.4c1.3-.7 1.8-1.8 1.8-3.5V5.7c0-3-.9-4.5-4.9-4.5H0V30h6.8c4 0 4.9-1.9 4.9-4.9V19c0-1.8-.6-3-2-3.6zM3.8 4.8h2.6c1.2 0 1.3.6 1.3 1.9v4.9c0 1.3-.2 2.1-1.4 2.1H3.8V4.8zm4 20.2c0 .9-.3 1.4-1.3 1.4H3.8v-9.2h2.6c1.1 0 1.4.6 1.4 1.5V25zm23.4 5h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v.9h-.7c-.9 0-1.3-.4-1.3-1.3v-1.4c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V26h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5zm-4.4-8.3c-.9 0-1.3-.4-1.3-1.3v-1.3c0-.9.4-1.3 1.3-1.3h3.1c.9 0 1.3.4 1.3 1.3v1.3c0 .9-.5 1.3-1.3 1.3h-3.1zm3-1.1c.2 0 .3-.1.3-.3V19c0-.2-.1-.3-.3-.3h-3.1c-.2 0-.3.1-.3.3v1.3c0 .2.1.3.3.3h3.1zm.5-7.2h-1.1l-3.8-2.8v-1h3.8v.6c0 .1.1.1.1 0l.7-.6h1v1h-.8v2.8h.1zm-1-1.3v-1.5h-2.1l2.1 1.5zm1.9-7h-1.1l-2.7-2.7c-.2-.2-.2-.2-.4-.2h-.2c-.2 0-.3.1-.3.3v1.4c0 .2.1.3.3.3h.7v1.1h-.7c-.9 0-1.3-.4-1.3-1.3V2.5c0-.9.4-1.3 1.3-1.3h.2c.4 0 .7 0 .9.3l2.3 2.2V1.1h1.1v2.7h-.6c-.1 0-.1.1 0 .1l.7.7-.2.5z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">BattleField 2042</span>
                    </a>

                    <a href="@Url.Action("Overview", "BfV")" class="gdh-game-bar-title" aria-label="BattleField V Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.334 125.333"
                             class="gdh-game-bar-title__icon">
                            <path d="m0 0 46 125.333h5L96.334 0H72L48.167 68.333 23.667 0"></path>
                        </svg>
                        <span class="gdh-game-bar-title__label">BattleField V</span>
                    </a>
                    <a href="@Url.Action("Overview", "Bf1")" class="gdh-game-bar-title" aria-label="BattleField 1 Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="gdh-game-bar-title__icon">
                            <path d="M0 235.787V20.013c.635-.031 1.171-.08 1.708-.08 16.236-.002 32.472-.037 48.707.023 5.336.019 10.656.685 15.691 2.446 9.984 3.495 16.5 10.407 19.45 20.642 1.396 4.843 2.005 9.756 1.985 14.792-.061 14.86.067 29.72-.077 44.578-.089 9.029-4.837 15.116-12.934 18.68-2.012.885-4.229 1.293-6.322 2.007-.493.168-.867.687-1.295 1.043.328.346.593.847.996 1.014 2.863 1.184 5.821 2.159 8.625 3.465 5.778 2.69 10.308 6.786 12.728 12.778.843 2.089 1.328 4.473 1.339 6.723.096 19.647.211 39.297-.05 58.941-.092 6.853-1.876 13.472-6.424 18.974-3.568 4.317-8.232 6.793-13.559 8.365-5.217 1.539-10.519 1.36-15.821 1.37-17.611.04-35.223.014-52.834.013H0zm28.7-98.201v1.841l.001 67.979c0 .385.027.771-.001 1.153-.06.827.266 1.206 1.134 1.196 7.643-.08 15.292.031 22.926-.26 6.331-.238 9.043-3.843 9.03-9.711-.022-10.118-.011-20.239-.01-30.358 0-5.335.058-10.67-.002-16.005-.038-3.38-.27-6.755-2.187-9.728-2.764-4.289-6.978-6.001-11.808-6.168-5.933-.205-11.878-.086-17.817-.097-.367.002-.735.091-1.266.158zm.092-26.566c5.571 0 11.014.184 16.433-.088 2.274-.114 4.676-.854 6.715-1.903 4.92-2.535 6.722-7.146 6.793-12.348.15-10.941.094-21.886.019-32.828-.018-2.781-.201-5.601-.707-8.328-.487-2.623-1.663-5.023-3.852-6.807-2.167-1.766-4.729-2.438-7.378-2.563-3.786-.179-7.586-.05-11.381-.051h-6.642v64.916zM143.882 111.778h37.485c.046.55.117 1.02.118 1.489.004 7.65-.035 15.3.026 22.948.013 1.411-.452 1.759-1.795 1.754-11.337-.047-22.674.001-34.011-.068-1.598-.011-2.012.429-2.01 2.017.043 31.314.026 62.628.025 93.941 0 1.83-.463 2.286-2.29 2.285-6.766-.007-13.531.003-20.296-.007a113.99 113.99 0 0 1-5.197-.109c-.844-.04-1.39-.431-1.352-1.442.062-1.649.021-3.302.021-4.953l-.003-207.364c0-2.332-.002-2.336 2.251-2.336l67.195-.011c2.233 0 2.234.004 2.235 2.27.001 7.265.001 14.529.003 21.793v2.07H143.88c.002 21.94.002 43.741.002 65.723zM227.267 62.542c-3.925 1.161-7.494 2.213-11.062 3.271-1.992.591-3.965 1.25-5.983 1.73-.337.081-1.107-.506-1.25-.93-1.963-5.805-3.849-11.635-5.765-17.456-.1-.299-.307-.562-.575-1.041 1.411-.677 2.73-1.366 4.094-1.955 7.814-3.376 14.352-8.463 19.641-15.071 2.588-3.233 4.738-6.812 7.134-10.2.309-.437.901-.952 1.363-.956 6.878-.048 13.755-.015 20.631.005.1 0 .198.089.439.204.051.621.159 1.321.159 2.021-.031 30.208-.094 60.416-.108 90.624-.019 40.225 0 80.448.001 120.674.001 2.687-.009 2.704-2.65 2.705-7.814.003-15.63-.002-23.442-.007-2.48-.001-2.624-.143-2.624-2.62-.002-55.741-.002-111.483-.002-167.225l-.001-3.773z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">BattleField 1</span>
                    </a>
                    <a href="@Url.Action("Overview", "PUBG")" class="gdh-game-bar-title" aria-label="PUBG Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gdh-game-bar-title__icon">
                            <path d="M5.6 2a.458.458 0 0 0-.4.5.367.367 0 0 0 .1.3l1.3 1.7v15.2l-1.7 1.7a.377.377 0 0 0 .1.6h13.4a.758.758 0 0 0 .4-.2l2.3-2.3a.377.377 0 0 0-.1-.6.367.367 0 0 0-.3-.1h-9.5V2.5a.472.472 0 0 0-.5-.5ZM12 3.8v.9a8.237 8.237 0 0 1 8.2 8.2 7.955 7.955 0 0 1-1.7 5h1.1a8.9 8.9 0 0 0 1.5-5A9.133 9.133 0 0 0 12 3.8Zm0 1.8v12.3h5.3a7.479 7.479 0 0 0 2-5A7.341 7.341 0 0 0 12 5.6Zm-6.4.8a9.519 9.519 0 0 0-2.7 6v1.3a9.269 9.269 0 0 0 2.7 5.7V18a8.147 8.147 0 0 1-1.8-5.1 7.754 7.754 0 0 1 1.8-5.1V6.4Zm0 3a7.3 7.3 0 0 0-.9 3.5 6.756 6.756 0 0 0 .9 3.5v-7Z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">PUBG</span>
                    </a>

                    <a href="@Url.Action("Overview", "LOL")" class="gdh-game-bar-title"
                       aria-label="League of Legend Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 894.3 517.7"
                             class="gdh-game-bar-title__icon">
                            <path d="M58.3 1.9c-6.3 1.9-11 4.5-14.5 8.8-5 6-5.2 6.9-4.8 24.8.2 10.3.2 28.5 0 40.8-.2 22-.2 22-4.3 20.7-8.2-2.8-27.8-1.5-31.1 2.1-2.8 3-2.8 3 .4 1.9 2.4-.7 3.2-.4 2.6 1.1-.4 1.3-1.9 2.2-3 1.9-1.3-.2-2.1 3.2-2.1 9.3 0 5.4-.6 12.9-1.1 16.4-.7 5.2 0 7.5 3.9 11.6 4.5 4.8 6 5.2 19.4 5.2 12.5 0 14.7.6 15.5 3.2 1.1 4.3-.2 217.1-1.3 220.1-.6 1.7-4.8 2.4-12.9 2.4s-14 1.1-17.7 3.2c-5.6 3.4-5.8 3.7-6 18.3-.4 29.7.4 30.8 23.9 30.8h15.7l-.6 35.8c-.7 50.4.7 52.6 36.9 54.6 53.7 2.8 210.9 3.9 236.7 1.7 9-.7 17-.9 25.7-.7 12.1.2 15.1 0 17.3-2.1 1.9-1.5 2.6-1.5 2.6 0 0 1.1.9 2.1 1.9 2.1 1.1 0 1.9-1.7 1.9-3.9 0-2.1-.7-3.2-1.9-2.6-.9.6-1.9.2-1.9-.9 0-3.4 4.5-1.1 6.5 3.4 1.9 4.1 2.4 4.1 43.8 4.1 23.1 0 54.8.6 70.5 1.1 42.3 1.7 108.6-.7 108.6-4.1 0-1.5.9-2.6 2.1-2.6 1.1 0 1.7 1.3.9 2.8-.7 2.4 1.3 2.8 13.4 2.8 7.8.2 50.9.4 95.9.6 44.8.2 80.9-.2 80.4-1.1-.4-.7.6-1.3 2.2-1.3 1.9 0 2.4.9 1.7 2.2-2.2 3.5 46.6.6 54.8-3.5 13.6-6.7 14.4-9.5 14.5-50 .2-20 .7-37.5 1.5-39.2.7-2.2 2.2-2.6 5.2-1.7 5.4 1.9 25.7.9 29.5-1.1 2.4-1.5 2.2-1.7-.6-1.9-2.1 0-3.2-.9-2.6-2.4.4-1.1 1.7-2.1 2.6-1.9 2.4.6 4.3-29.3 2.2-33-4.5-8-5.2-8.4-22.2-9.3l-17-.9L853 259l-.6-112.3H869c15.3 0 16.6-.4 21.1-5.2 3.9-4.1 4.7-6.3 3.9-11.6-.6-3.5-1.1-11-1.1-16.2 0-6.3-.7-9.7-2.1-9.3-1.1.2-2.6-.7-3-2.1-.6-1.5.2-1.9 2.6-1.1 3 1.1 3 .9.6-1.7-3-3.2-21.4-4.7-29.8-2.4-8.4 2.2-9.1.2-10.3-33.4-2.1-51.9-6-59.3-31.5-58.6-7.5.2-14.5-.2-15.7-.7-2-1.8-33.7-4-49.7-4-6.2.2-17 .2-24.2.2-7.1 0-44 .4-82.1.6-37.9.2-76.1.6-84.9.9s-19.6.7-24.2.6C466.2 1.6 406.2 1.2 403 2c-2.4.6-4.1 1.7-3.7 2.4.2.7-.4 1.5-1.5 1.7-.9.4-1.9-.6-1.9-1.9 0-1.7-9-2.2-38.2-2.2-29.7 0-38 .6-37.9 2.2.4 1.3-.7 2.4-2.4 2.4-1.5 0-2.4-.7-1.9-1.7 2.2-3.4-9.9-3.9-94.9-3.9C173.4 1 119.7.6 101.2.3 76.7-.3 65 .2 58.3 1.9zm379.1 50.5c255.3.4 339.8-.2 339.8-1.7 0-1.7.6-1.5 1.5 0 .7 1.3 5.6 2.6 10.6 2.8l9.3.6.2 9.3c.4 14.9 2.8 165.6 2.6 168.8-.6 15.9 0 135.8.9 177.6s.7 53.7-1.1 54.8c-1.3.7-8.4 1.1-15.5.9-13.8-.6-64.2-.6-257.4-.4-100.2.2-113.2.6-112.3 3 .7 1.9-.2 2.8-2.6 2.8s-3.4-.9-2.6-2.8c.9-2.4-10.8-2.6-93.8-2.6-52 .2-110 .7-128.9 1.3-18.7.7-33.9.7-33.9-.2 0-2.2-6.5-1.5-9 .9-1.7 1.7-2.8 1.9-3.7.4-.7-1.5-9.7-2.2-24.4-2.4-12.7-.2-23.9-.7-24.6-1.3-.9-.6-1.7-7.6-1.7-16 0-12.5-.4-14.7-2.8-13.8-1.9.7-2.8-.2-2.8-2.6s.9-3.4 2.8-2.6c2.4.9 2.8-7.3 3-66.6.7-223.1.7-220.5-1.9-221.4-1.5-.6-1.9-1.3-.6-2.1 2.8-1.7 3.2-24.2.6-32.5-1.3-3.7-1.7-7.8-.7-9.1.7-1.3 1.5-11.8 1.9-22.9.2-11.4.4-21.6.4-23.1.2-1.7 1.3-2.1 3.5-.9 1.7.7 156.2 1.6 343.2 1.8z">
                            </path>
                            <path d="m682.7 99.4-39.7.4-7.3 7.1c-6.2 6-7.5 8.4-8.4 17.2-2.1 17.7-2.1 42.5-.4 82.1.9 21.1 1.5 41.6 1.1 45.7s-.7 38.4-.7 76.5l-.2 69 4.5 7.3c2.4 3.9 7.1 8.2 10.4 9.7 7.5 3.2 82.4 3.9 92.3.9 9.1-2.8 16.4-12.1 17.5-22.4 1.9-18.1 1.1-155.9-.9-161.1l-2.1-5h-25.6c-17.3 0-26.3.7-27.8 2.2s-2.2 8.8-2.2 20.1V267l5.6 3.2 5.6 3.4.2 20.9c0 11.6 0 30.2-.2 41.8-.2 12.5.6 22.2 1.9 24.2 1.5 2.4 1.7 4.8.2 8.4-1.9 5-2.1 5-16 4.3-15.9-.7-18.8-1.9-15.9-5.6 2.1-2.6 3-133 1.3-194.3l-.9-30 13.4-.7c20-.9 19.8-1.1 19.8 12.3 0 6.5.9 12.5 2.2 13.8 1.7 1.7 1.7 2.2 0 2.2-4.1 0-2.4 5.2 2.1 6.2 6.7 1.3 33 .2 34.9-1.7.7-.9 1.9-15.3 2.4-32.1l.7-30.6-5.2-5.2c-4.5-4.5-8.4-6-20.9-8-1.2-.4-20.1-.4-41.7-.1zm-533 3.6c-1.7 1.7-2.2 12.3-1.7 38.2.6 41.8.4 38.6 2.6 35.1 1.5-2.2 1.9-1.7 1.9 2.2 0 2.6-.9 5.2-2.2 5.6-1.7.6-2.2 8.6-2.2 27.8-.2 23.3-.6 27.6-3.4 30.4-2.8 2.6-3.4 6.7-3.4 23.9 0 11.4.6 20.1 1.3 19.6 1.7-1.7 8 4.1 8 7.5 0 1.3-.6 2.4-1.3 2.4-.9 0-1.7 25.6-2.1 56.9-.2 31.3.4 56.9 1.1 56.9.9 0 2.6 2.1 3.7 4.7 2.1 4.5 2.8 4.7 20.7 4.7 27.6 0 26.1 3.4 25.6-64.5-.4-29.7-.7-54.8-1.1-55.8-2.1-8-1.1-8.4 25.4-8.4 28.7 0 39.5-2.1 45.9-8.8l4.3-4.7.6-80.9c.4-54.5-.2-82.3-1.5-84.7-4.7-8.6-9.7-9.3-66.6-9.9-39.4-.3-54.2.1-55.6 1.8zm73.6 44.7c.2 1.9.2 21.8.4 44.4 0 22.6.6 39.5.9 37.7 1.5-5.6 4.3-3.4 4.3 3.5 0 5.4-.6 6.5-3 5.6-2.1-.7-2.6-.2-1.9 2.2.9 2.8-.2 3.2-11.4 2.6-7.1-.4-13.4-1.9-14.9-3.2-3-3-3.2-8.4-.4-8.4 1.3 0 1.7-13.1.9-42.7-.4-23.5-.4-43.3.2-43.8.7-.6 6.5-1.1 13.1-1.1 10 .1 11.8.6 11.8 3.2zm86-45.3c-3.2 3.7-2.1 45.1 1.3 44.4 1.1-.2 2.2.9 2.2 2.4s-1.1 2.6-2.2 2.2c-1.7-.2-2.6 2.8-3 9.5-.4 7.8 0 9.7 1.9 8.6s1.9-.9.4 1.3c-3 3.9-5 215.2-2.2 227.7 1.7 6.7 3.7 10.3 8.4 13.6l6.2 4.8 48.9-.7c54.5-.7 58.4-1.7 64.3-13.1 4.1-8 5.8-70.9 4.8-180.4-.4-44.6-.7-89-.7-98.3 0-10.8-.7-17.7-2.1-18.7-1.3-.6-2.6-.2-3 .9-.9 3.2-4.1 2.8-4.1-.6 0-2.2-3-2.8-15.9-2.8-25.6 0-23.7-6.2-23.5 79.8.2 39.7.7 83.4 1.3 96.8.9 17.7.6 24.8-.9 24.8-3.4 0-2.4 7.1 1.3 9.1 2.2 1.5 2.6 2.4.9 3.4-1.3 1.1-2.4 10.3-2.8 27-.6 21.6-1.1 26.1-3.9 28.9-3.2 3.2-3.5 3.2-5.8 0-2.8-3.5-10.6-4.1-16.2-1.1-5.6 2.8-11.4-2.6-9.9-9.3 1.3-5.6 2.2-160.4 1.3-216.5l-.7-38.4-8-4.3c-5.4-3-9.3-4.1-11.6-3-3.5 1.5-16 1.5-21.4-.2-1.7 0-4 .7-5.3 2.2zm166.2-.2c-2.1 2.8-2.8 70.5-.7 79.6.9 3.5.9 12.3.4 19.6-.7 7.3-.6 14 .4 15.3 2.4 3 0 9.9-3.4 9.9-1.5 0-2.2.9-1.7 1.9.6 1.1-.2 3.2-1.7 4.8-3.4 3.4-4.3 29.5-1.1 31.5 1.1.6 1.9 2.8 1.9 4.7s.9 3.7 2.1 4.1c1.7.6 2.2 17.3 2.2 61.2-.2 35.1.6 61.5 1.7 62.9.9 1.1.9 2.6.2 3-.9.6-1.3 4.5-.9 8.6l.7 7.6 49.8-.6c74.2-.6 69.9 4.7 70.1-87.1 0-61.7-.2-64.5-3.7-68.3-11.2-12.1-12.5-14.4-9.5-16 7.5-4.1 9.3-12.7 9.7-40.7.2-14.9.6-42 .9-60.2.6-31.3.4-33.4-3.4-36.9-5.8-5.8-14.5-6.9-65.1-7.1-35.3 0-47.4.4-48.9 2.2zm69.8 42.6c1.1 1.9 1.1 16 0 70.7-.2 13.6-1.1 14.4-15.1 12.1l-8-1.1-1.1-16.2c-.6-9-1.1-17.5-1.3-19 0-1.5.6-13.1 1.3-25.7l1.3-22.8h10.8c5.9-.1 11.3.8 12.1 2zm-.8 131.1c.7 1.1 1.5 15.5 1.5 31.9s.2 37.5.2 47c.2 9.3-.2 17.9-.9 18.8-1.5 2.4-20.9 1.5-24.1-1.3-2.1-1.7-2.4-3.9-1.3-9 .9-3.7 1.7-24.8 1.7-47 0-34.7.4-40.5 3-42.3 3.5-2.6 17.9-1.3 19.9 1.9z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">League of Legend</span>
                    </a>

                    <a href="@Url.Action("Overview", "CSGO")" class="gdh-game-bar-title" aria-label="CS:G0 Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="gdh-game-bar-title__icon">
                            <path d="M26.581 0h1.712c1.191.467 2.337 1.115 3.375 1.849.333 1.404.915 2.898.412 4.335-.429.396-1.011.559-1.529.803.061.553.151 1.103.238 1.653.977-.082 1.925-.339 2.882-.525.131-.571.163-1.191.523-1.676.078.387.143.777.191 1.17.514.299 1.012.723 1.648.656 4.023.003 8.049-.012 12.069.001.442-.035.652.435.957.676.01-.854.006-1.709.045-2.563.118.004.355.007.475.009.025.75-.056 1.521.153 2.253.224.052.454.067.686.095.013.293.021.587.038.882 1.235.036 2.485.119 3.711-.092.824-.125 1.659-.041 2.49-.039.014.293.04.584.092.875-1.026.074-2.064.143-3.086-.027-1.637-.199-3.27.147-4.903.056-.056.222-.107.444-.16.667-1.57.017-3.142-.01-4.71-.002-.521-.014-1.093.1-1.424.538-.461.576-1.021 1.069-1.464 1.659-.146 1.082.278 2.131.522 3.17-.37.134-.742.261-1.105.398-.374 1.171-.227 2.668-1.298 3.488-.592.444-1.113.998-1.791 1.314-.491.222-1.02-.01-1.514-.083-1.844-.279-3.368-1.414-5.015-2.195-.107.446-.228.887-.349 1.329.5.324 1.146.6 1.31 1.236.253.931.043 1.908.006 2.856-.078.87-.104 1.745-.186 2.615-.081.845-.569 1.571-1.071 2.228-.469-.115-.929-.251-1.393-.374-.5 1.073-.084 2.406.74 3.205 2.142 2.33 3.301 5.326 4.384 8.248.186.619.819.983.927 1.632.181.69.436 1.383.376 2.106-.083 1.27-.175 2.539-.303 3.807-.088.928-.434 1.855-.23 2.794.152.764.245 1.573-.034 2.322-.377.94-.374 1.97-.379 2.967.017.657.054 1.379.51 1.9.539.664 1.065 1.354 1.713 1.922.798.521 1.897.525 2.554 1.283.208.412.06.896.054 1.339-2.074.313-4.244.337-6.254-.312-1.137-.369-2.392.266-3.479-.359.06-1.301.373-2.57.833-3.786.19-.904-.017-1.844-.036-2.761-.014-.793-.422-1.495-.579-2.257-.45-1.636-.578-3.34-.655-5.029-.1-.829.604-1.454.632-2.265.147-.719.038-1.456-.406-2.051-.772-.022-1.812.18-2.245-.648-.904-1.337-1.783-2.693-2.685-4.03-.314-.577-1.069-.44-1.587-.694-.461-.425-.691-1.025-.979-1.569-.169.621-.398 1.244-.858 1.714-.725.729-.985 1.739-1.36 2.662-.265.666-.502 1.351-.598 2.062-.101.539-.125 1.17-.607 1.521-.708.538-.961 1.442-1.609 2.031-.482.46-.777 1.087-.937 1.724-.052.577.115 1.162-.031 1.731-.262 1.041-.837 1.962-1.259 2.939-.299.688-.454 1.43-.781 2.106-.219.472-.778.624-1.084 1.021-.888 1.529-1.172 3.372-.854 5.105.255.688.44 1.408.284 2.148-.546.075-1.088.164-1.636.214H8.967c-.441-.092-.895-.161-1.297-.367-.301-.94-.251-1.972.019-2.913a169.66 169.66 0 0 0 1.115-4.271c.241-.7-.332-1.326-.28-2.024-.058-1.031.58-1.883 1.042-2.741.433-.766.28-1.686.581-2.493.68-1.749 1.965-3.175 2.731-4.885.236-.694-.019-1.434.027-2.15.057-1.358.326-2.699.559-4.035.079-.516.246-1.062.046-1.567-.212-.606-.362-1.249-.277-1.896.088-.594-.267-1.184-.044-1.764.117-.492.569-.77.931-1.076.065-2.022-.671-4.011-.362-6.028.353-.437.919-.594 1.412-.814-.722-.149-1.444-.301-2.163-.46-.029-.816.082-1.624.253-2.421.264-1.244.119-2.529.315-3.78.031-.318.377-.425.652-.437.655-.048 1.316-.078 1.959-.233-.191-1.581-.351-3.193.006-4.766.345-1.856 1.176-3.738 2.733-4.887 1.073-.724 2.623-1.15 3.743-.287.092-.063.275-.188.368-.249-.651-1.757-.508-3.787.527-5.37C24.232.986 25.404.374 26.581 0">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">CS:G0</span>
                    </a>

                    <a href="@Url.Action("Overview", "COD")" class="gdh-game-bar-title" aria-label="Call of Duty Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gdh-game-bar-title__icon">
                            <path d="M2.8 15.3v3.5S6.4 22 12 22s9.2-3.2 9.2-3.2v-3.5s-5.2-3.1-9.2-6c-4 2.9-9.2 6-9.2 6zM18.2 17c-2.9 1.5-6.2 1.4-6.2 1.4s-3.3.1-6.2-1.4c1.9-1.1 4.3-2.7 6.2-4.1 2 1.4 4.4 3 6.2 4.1z">
                            </path>
                            <path d="M12 2C8 4.9 2.8 8 2.8 8v3.5S8.2 8.3 12 5.6c3.8 2.7 9.2 5.9 9.2 5.9V8S16 4.9 12 2z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">Call of Duty</span>
                    </a>

                    <a href="@Url.Action("Overview", "APEX")" class="gdh-game-bar-title" aria-label="Apex Legends Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1030 1000"
                             class="gdh-game-bar-title__icon">
                            <path d="M153 1000h-3c-1.215-1.273-2.302-2.706-3.663-3.797C97.574 957.115 48.785 918.061 0 879v-2c1.066-1.387 2.297-2.678 3.175-4.175 46.203-78.771 92.377-157.56 138.553-236.347C263.343 428.97 384.96 221.465 506.548 13.941 509.211 9.399 511.524 4.652 514 0h2c.713 1.636 1.266 3.366 2.161 4.895 58.428 99.751 116.888 199.483 175.334 299.224 107.813 183.981 215.611 367.97 323.452 551.935 4.159 7.095 8.693 13.97 13.053 20.946v2c-45.539 36.465-91.091 72.915-136.599 109.419-4.603 3.691-8.94 7.713-13.401 11.581h-3c-1.461-1.261-2.812-2.681-4.396-3.761-86.783-59.164-173.585-118.297-260.382-177.439-7.22-4.92-14.413-9.878-21.619-14.818l.277-1.091h165.979L515 379.257 273.792 803.105h165.679c-2.625 1.88-4.053 2.944-5.522 3.949-90.813 62.115-181.635 124.222-272.433 186.36-2.957 2.024-5.683 4.384-8.516 6.586z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">Apex Legends</span>
                    </a>

                    <a href="@Url.Action("Overview", "RBS6")" to="https://tracker.gg/r6siege" class="gdh-game-bar-title"
                       aria-label="Rainbow Six Website">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.315 465.853"
                             class="gdh-game-bar-title__icon">
                            <path d="M224.773 347.138c-.141-26.448.028-52.893-.036-79.341-.031-13.195.066-26.389.058-39.583-.004-6.542.61-13.067.458-19.602-.035-1.5.027-3.008-.073-4.505-.112-1.656-.397-3.315-.636-4.957-.445-3.066-.839-6.228-2.025-9.114-1.094-2.662-2.443-5.455-4.048-7.847-1.623-2.417-3.648-4.533-5.728-6.56-4.454-4.34-9.597-7.556-14.966-10.631-5.495-3.147-11.265-5.546-17.274-7.516-3.059-1.003-6.248-1.556-9.415-2.091-3.151-.533-6.347-1.14-9.544-1.28-6.56-.289-13.188-.028-19.753.024-3.291.026-6.598-.018-9.885.149-3.149.159-6.297.53-9.434.841-6.153.611-12.329 1.844-17.872 4.649-2.629 1.331-4.85 2.86-6.991 4.895-.2.19-.475.281-.733.361-.419.13-.47.317-.678-.124-.332-.702-.292-1.247-.167-2.003.271-1.642.189-3.318.19-4.978.005-13.22-.013-26.44-.013-39.661l-.002-19.895c0-2.841-.408-5.874.294-8.659.716-2.839 3.121-4.238 5.493-5.642 4.897-2.897 11.354-2.938 16.782-1.784 2.736.582 5.357 1.656 7.659 3.255 2.415 1.677 2.89 4.04 2.942 6.824.124 6.504-.117 13.013-.078 19.518.02 3.284.106 6.568.341 9.844.23 3.198.062 6.404.009 9.605-.012.709.007 1.393-.148 2.088-.058.257-.184.649-.038.901.357.625 2.562.274 3.104.274h29.965c13.132 0 26.254-.004 39.388-.005l19.846-.002c1.14 0 2.812.326 2.853-1.241.044-1.68.009-3.361.026-5.042.033-3.283.08-6.565.124-9.848.089-6.57.1-13.139.13-19.71.031-6.586.099-13.188-.555-19.75-.323-3.246-.785-6.484-1.203-9.719-.396-3.068-.915-6.052-1.828-9.012-.911-2.955-1.632-6.025-2.77-8.901-1.141-2.881-2.596-5.666-3.97-8.44-1.375-2.775-3.225-5.324-5.025-7.835-1.802-2.513-3.66-5.053-5.938-7.16-4.578-4.232-9.437-8.346-14.879-11.429-5.385-3.051-11.165-5.401-17.016-7.369-2.937-.987-5.911-1.988-8.917-2.739-3.091-.772-6.229-1.374-9.351-2.008-6.244-1.269-12.44-2.41-18.786-3.032-6.381-.625-12.812-1.12-19.222-1.287C102.303-.28 89.296 1.367 76.36 3.507c-12.327 2.039-24.671 5.305-35.784 11.12-5.534 2.896-10.71 6.208-15.417 10.333a66.177 66.177 0 0 0-11.965 13.889c-1.639 2.557-2.855 5.283-4.165 8.013-1.347 2.809-2.699 5.537-3.563 8.541-.856 2.976-1.919 5.932-2.555 8.962-.654 3.117-1.268 6.242-1.653 9.406C-.32 86.724.016 99.883.013 112.906l-.007 39.992a533110.029 533110.029 0 0 0 .01 219.955c.001 6.531-.236 13.12.285 19.637.512 6.402 1.801 13.002 3.706 19.134.938 3.019 2.015 5.999 3.33 8.877 1.299 2.843 2.979 5.499 4.641 8.138 3.302 5.24 7.913 9.478 12.425 13.672 4.416 4.104 9.936 7.071 15.31 9.714 5.753 2.829 11.692 4.85 17.8 6.751 6.079 1.894 12.274 3.212 18.582 4.066 6.344.859 12.759 1.808 19.153 2.175 6.516.375 13.037.838 19.565.836 6.627-.003 13.128-.712 19.716-1.315 3.191-.293 6.371-.517 9.521-1.115 3.206-.608 6.425-1.186 9.613-1.877 3.167-.687 6.257-1.736 9.343-2.717 2.979-.946 5.937-1.959 8.832-3.137 5.753-2.341 11.467-4.934 16.811-8.12 2.668-1.591 5.13-3.481 7.613-5.339 2.517-1.882 5.023-3.799 7.319-5.948 4.359-4.081 8.095-8.951 11.13-14.085a74.385 74.385 0 0 0 4.275-8.376c1.199-2.783 2.013-5.825 2.933-8.714 1.975-6.196 2.655-12.738 3.055-19.201.395-6.386-.043-12.716-.099-19.102-.056-6.556-.068-13.113-.102-19.669-.05-9.367.04 7.605 0 0zm-45.625-72.971c.062 2.491.237 5.897-2.012 7.597-1.049.793-2.568 1.07-3.827 1.34-1.561.335-3.146.531-4.726.747-6.371.87-12.661 2.356-18.993 3.466-3.205.562-6.45 1.054-9.609 1.84-2.354.585-5.505 1.349-6.751 3.668-.646 1.203-.802 2.691-.972 4.025-.211 1.655-.284 3.324-.293 4.99-.016 3.217.144 6.433.149 9.65.006 3.279.013 6.56.005 9.84-.004 1.538-.019 3.076-.021 4.613-.002 1.211.001 2.56-.877 3.506-.8.862-2.231 1.697-3.381 1.961-.589.136-1.202.026-1.797.109-.901.125-1.804.235-2.704.36-3.148.437-6.02 1.376-8.956 2.564-2.522 1.02-5.083 2.077-6.742 4.339-1.647 2.245-2.398 5.139-2.654 7.875-.295 3.166-.11 6.408-.11 9.585v9.933c.001 13.174.047 26.296.035 39.497-.001 1.6-.003 3.199-.006 4.799-.002 1.285-.051 2.617-.707 3.763-1.478 2.583-4.95 2.823-7.537 3.423-5.867 1.359-12.377 3.651-18.379 1.635-2.794-.938-4.825-2.939-6.76-5.068-.823-.905-.266-2.391-.103-3.443.256-1.659.489-3.322.695-4.989.812-6.543 1.179-13.117 1.26-19.709.082-6.636-.07-13.271-.086-19.906-.016-6.648.034-13.298.045-19.946.021-13.301.018-26.602.001-39.903-.008-6.65-.019-13.301-.032-19.951-.013-6.623.126-13.207-.64-19.796-.349-2.998-1.477-5.783-1.071-8.861.375-2.842 1.904-5.492 3.803-7.586 1.92-2.119 4.194-3.548 6.992-4.187 3.04-.693 6.244-.767 9.35-.784 3.262-.018 6.521.118 9.783.106 1.418-.005 2.181.844 3.007 1.897.984 1.254 1.835 2.597 2.776 3.882 1.377 1.881 3.227 3.437 5.549 3.946 2.856.625 5.915-.216 8.671-.944 5.955-1.574 11.765-3.751 17.51-5.961 2.99-1.15 5.974-2.445 9.058-3.323 3.013-.857 5.963-1.966 9.011-2.652 5.023-1.129 11.009-3.172 15.743-.078 4.739 3.097 5.712 9.432 6.12 14.626.458 5.825.039 11.67.183 17.505.048 1.911-.179-7.259 0 0z">
                            </path>
                            <path d="M122.04 295.667c1.531-1.358 4.388-.477 5.601.833.408.44.749.936 1.073 1.438.398.615.428 1.208.521 1.923.216 1.635.392 3.248.412 4.898.083 6.498.073 13.022-.468 19.503-.208 2.489-3.376 4.021-5.532 4.327-3.106.44-6.463.135-9.592.059-2.501-.062-5.713.229-7.327-2.126-.856-1.249-.841-2.572-.854-4.024-.015-1.672-.03-3.344-.018-5.016.02-2.736-.191-5.779.83-8.37.917-2.329 2.807-4.621 5.054-5.768s5.228-1.436 7.672-.882c1.443.327 2.891.744 4.305 1.18.692.214 1.381.439 2.081.629.906.245 1.377.054 2.257-.147-.273-.83-.438-1.392-.984-2.098a240.32 240.32 0 0 0-1.655-2.114c-1.119-1.419-2.251-2.829-3.376-4.245.913-.81 1.867 2.352 0 0z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">Rainbow Six</span>
                    </a>

                    <a href="@Url.Action("Overview", "CS2")" class="gdh-game-bar-title" aria-label="Counter-Strike 2 Website" data-slug="cs2">
                        <svg viewBox="0 0 24 24" class="gdh-game-bar-title__icon">
                            <rect width="100%" height="100%" style="fill:none;"></rect>
                            <path d="m3.9 11.5-.7-.3h4.9c.2 0 .4-.1.5-.3l.4-1H4.3c-.8 0-1.5.5-1.9 1.2l-1.3 3.1c-.3.7.2 1.4.9 1.4h4.3c.2 0 .4-.1.5-.3l.4-1H2.7l1.2-2.8zM17.8 9.9c-.8 0-1.5.5-1.9 1.2l-.2.5-.1.4c-.3.7.2 1.4.9 1.4h3.4l-.4.9h-4.6c-.2 0-.4.1-.5.3l-.4 1h5.2c.8 0 1.5-.5 1.9-1.2l.4-.9c.3-.7-.2-1.4-.9-1.4h-3.4l.2-.6-.6-.3h5.4c.2 0 .4-.1.5-.3l.4-1h-5.3zM14.6 10l-.1-.6.1-.1.1-.3h1.4v-.2h.6v-.2h-.6V8.3l-.1.1h-2.5.1V8h-.1c0-.1-.1-.5-.8-.6-.3 0-.5.1-.6.2 0 0-.1.1-.1.2V8.4l.1.1-.1.1h-.2c-.2 0-.5.2-.7.7-.2.5-.3.6-.3.6h-.2l-.3 1 .2.2-.1.4-.2.1-.2.6h-.3s-.1 0-.1.1l-.1.9-.1.3-.2.2c0 .2-.1.3-.2.4l-.7 1.5v.1l.1.1v.2l-.4.5v.1h.7l.1-.1v-.6l1.4-1.6s.1-.1.1-.2l.7-1.5h.1c.1.1.2.3.3.4.1.1.3.5.4.6 0 0 .1.1.2.1l-.4.7-.2.8V16c0 .1-.1.1-.1.2l-.1.4h1.1c.1 0 .2 0 .3-.1h.1l.1-.1-.5-.1s-.1 0-.1-.1l-.1-.2.2-.2.7-1.7v-.4c0-.1-.3-.5-.3-.6-.1-.1-.4-.7-.5-.9v-.4h.1l.4-.8-.1-.1.1-.1.4.2h.1c.1 0 .3-.1.4-.1l.1-.1.3-.9v.2l.6-.1z">
                            </path>
                        </svg><span class="gdh-game-bar-title__label">Counter-Strike 2</span>
                    </a>

                    <a href="@Url.Action("Overview", "Valorant")" class="gdh-game-bar-title" aria-label="Valorant Website" data-slug="valorant">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gdh-game-bar-title__icon">
                            <path d="m2.2 4 .1.1c.2.3 11.8 14.8 12.8 16v.1a.1.1 0 0 1-.1.1H8.8a.52.52 0 0 1-.4-.2c-.2-.2-4.4-5.4-6.3-7.9A.31.31 0 0 0 2 12V4.1a.349.349 0 0 1 .2-.1Zm19.8.2c0-.1-.1-.1-.1-.2h-.1l-.2.2c-.9 1.1-8.1 10.1-8.3 10.3l-.1.1c0 .1 0 .1.1.1h6.2c.1 0 .2-.1.3-.2l.2-.2c.5-.7 1.7-2.2 1.8-2.3 0-.1 0-.1.1-.2v-.1c.1-2.4.1-4.9.1-7.5Z">
                            </path>
                        </svg>
                        <span class="gdh-game-bar-title__label">Valorant</span>
                    </a>
                </div>
                <div class="gdh-game-bar__profile">
                    <div class="gdh-game-bar-special">
                        <div class="gdh-game-bar-special__container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 class="gdh-game-bar-special__icon">
                                <path d="M22 12v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-8a1 1 0 0 1-1-1V8a2 2 0 0 1 2-2h3.17A3 3 0 0 1 9 2a3.034 3.034 0 0 1 2.43 1.24v-.01L12 4l.57-.77v.01A3.034 3.034 0 0 1 15 2a3 3 0 0 1 2.83 4H21a2 2 0 0 1 2 2v3a1 1 0 0 1-1 1M4 20h7v-8H4v8m16 0v-8h-7v8h7M9 4a1 1 0 1 0 1 1 1 1 0 0 0-1-1m6 0a1 1 0 1 0 1 1 1 1 0 0 0-1-1M3 8v2h8V8H3m10 0v2h8V8Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <!-- <a href="https://tracker.gg/premium" class="gdh-game-bar-premium">
                        <img src="https://cdn.thetrackernetwork.com/cdn/trackernetwork/2FD9premium.png" alt="Premium Badge" class="gdh-game-bar-premium__icon" data-v-9d6878b4="">
                        Get Premium
                    </a> -->
                    @if (string.IsNullOrEmpty(ViewBag.AccountName))
                    {
                        <a class="gdh-game-bar-auth" href="@Url.Action("Login", "Home", new { returnUrl = Request.Url.PathAndQuery })">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gdh-game-bar-auth__icon">
                                <path d="M13 3h-2v10h2Zm4.83 2.17-1.42 1.42A6.92 6.92 0 0 1 19 12 7 7 0 1 1 7.58 6.58L6.17 5.17A8.992 8.992 0 1 0 21 12a8.932 8.932 0 0 0-3.17-6.83Z">
                                </path>
                            </svg>
                            Sign In
                        </a>
                    }
                    else
                    {
                        <span>@ViewBag.AccountName</span>
                    }
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
