@model GAMEDATAHUB.Models.BF2042Model.HeroInfoModel
@{
    int maxWins = Model.Maps.Max(m => m.Wins);
    int maxLosses = Model.Maps.Max(m => m.Losses);
    int maxMatches = Model.Maps.Max(m => m.Matches);
    int maxTime = Model.Maps.Max(m => m.SecondsPlayed) / 3600;
    decimal maxWinpercent = Model.Maps.Max(m => m.WinPercentD);
}
<body>
    <div class="gdh-wrapper">
        <div class="gdh-container">
            <div class="gdh-content">
                <div class="container">
                    <div class="content">
                        @Html.Partial("_Bf2042LayOut")
                        <div class="site-container trn-grid trn-grid--vertical trn-grid--small" style="position: relative;">
                            <div class="trn-grid trn-grid--small maps">
                                <div class="st st--expand-hide-mobile">
                                    <div class="st-header">
                                        <div class="st__item st-header__item st-header__item--sortable st__item--sticky st__item--wide" style="--st-base-width: 12rem;">
                                            <span class="label">Map</span>
                                        </div>
                                        @if (Model.HeaderIndex == "header1")
                                        {
                                            <div id="header1" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                    @if (Model.SortMethod == "Desc")
                                                    {
                                                        <path d="m7 10 5 5 5-5z"></path>
                                                    }
                                                    else
                                                    {
                                                        <path d="m7 14 5-5 5 5z"></path>
                                                    }
                                                </svg>
                                                <span id="header1" class="label">Wins</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="header1" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                                <span id="header1" class="label">Wins</span>
                                            </div>
                                        }

                                        @if (Model.HeaderIndex == "header2")
                                        {
                                            <div id="header2" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 7rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                    @if (Model.SortMethod == "Desc")
                                                    {
                                                        <path d="m7 10 5 5 5-5z"></path>
                                                    }
                                                    else
                                                    {
                                                        <path d="m7 14 5-5 5 5z"></path>
                                                    }
                                                    <span id="header2" class="label">Win %</span>
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="header2" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 7rem;">
                                                <span id="header2" class="label">Win %</span>
                                            </div>
                                        }

                                        @if (Model.HeaderIndex == "header3")
                                        {
                                            <div id="header3" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                    @if (Model.SortMethod == "Desc")
                                                    {
                                                        <path d="m7 10 5 5 5-5z"></path>
                                                    }
                                                    else
                                                    {
                                                        <path d="m7 14 5-5 5 5z"></path>
                                                    }
                                                    <span id="header3" class="label">Losses</span>
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="header3" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                                <span id="header3" class="label">Losses</span>
                                            </div>
                                        }

                                        @if (Model.HeaderIndex == "header4")
                                        {
                                            <div id="header4" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 6.5rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                    @if (Model.SortMethod == "Desc")
                                                    {
                                                        <path d="m7 10 5 5 5-5z"></path>
                                                    }
                                                    else
                                                    {
                                                        <path d="m7 14 5-5 5 5z"></path>
                                                    }
                                                    <span id="header4" class="label">Matches</span>
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="header4" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 6.5rem;">
                                                <span id="header4" class="label">Matches</span>
                                            </div>
                                        }

                                        @if (Model.HeaderIndex == "header5")
                                        {
                                            <div id="header5" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 9rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                    @if (Model.SortMethod == "Desc")
                                                    {
                                                        <path d="m7 10 5 5 5-5z"></path>
                                                    }
                                                    else
                                                    {
                                                        <path d="m7 14 5-5 5 5z"></path>
                                                    }
                                                    <span id="header5" class="label">Playtime</span>
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="header5" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 9rem;">
                                                <span id="header5" class="label">Playtime</span>
                                            </div>
                                        }

                                        <div class="st__item st__item--expand st__item--expand-hide-mobile"></div>
                                    </div>
                                    <div class="st-content">
                                        <div class="st-content__category">
                                            @foreach (var map in Model.Maps)
                                            {
                                                <div class="st-content__item">
                                                    <div class="st__item st-content__item-value st__item--sticky st__item--wide" style="--background-image-url: url(@map.Image); --st-base-width: 12rem;">
                                                        <div data-v-f7cfeda3="" class="info">
                                                            <div data-v-f7cfeda3="" class="value">@map.MapName</div>
                                                        </div>
                                                    </div>
                                                    @if (maxWins == map.Wins)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Wins.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Wins.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (maxWinpercent == map.WinPercentD)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 7rem;">
                                                            <div class="info">
                                                                <div class="value">@map.WinPercent</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 7rem;">
                                                            <div class="info">
                                                                <div class="value">@map.WinPercent</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (maxLosses == map.Losses)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Losses.ToString()</div>
                                                            </div>
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value " style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Losses.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (maxMatches == map.Matches)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 6.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Matches.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 6.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Matches.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (maxTime == map.SecondsPlayed / 3600)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 9rem;">
                                                            <div class="info">
                                                                <div class="value">@((map.SecondsPlayed / 3600).ToString())H</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 9rem;">
                                                            <div class="info">
                                                                <div class="value">@((map.SecondsPlayed / 3600).ToString())H</div>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="st__item st__item--expand st-content__item-expand st__item--expand-hide-mobile">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 16" class="icon">
                                                            <path d="M2 12a2 2 0 1 1-2 2 2 2 0 0 1 2-2m0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2m0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="st-content__drawer" style="display: none;">
                                                    <div class="stat-dump">
                                                        <div class="category">
                                                            <div class="category__header">Game</div>
                                                            <div class="category__stats">
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Lost</div>
                                                                    <div class="value">@map.Losses.ToString()</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Played</div>
                                                                    <div class="value">@map.Matches.ToString()</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Won</div>
                                                                    <div class="value">@map.Wins.ToString()</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Time Played</div>
                                                                    <div class="value">@((map.SecondsPlayed / 3600).ToString())H</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Win %</div>
                                                                    <div class="value">@map.WinPercent</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form method="post" action="@Url.Action("Maps", "Bf2042")" id="sortform">
                            <input name="HeroName" value="@Model.UserName" hidden>
                            <input name="Platform" value="@Model.PlatForm" hidden>
                            <input name="Sortmethod" value="@Model.SortMethod" hidden>
                            <input name="HeaderIndex" value="@Model.SortMethod" hidden>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*Control active attribute and the svg position*/
        document.addEventListener('DOMContentLoaded', function () {
            var stItems = document.querySelectorAll('.st-header .st-header__item');
            stItems.forEach(function (item) {
                item.addEventListener('click', function () {
                    stItems.forEach(function (innerItem) {
                        innerItem.classList.remove('st-header__item--active');
                    });
                    item.classList.add('st-header__item--active');

                    stItems.forEach(function (innerItem) {
                        if (innerItem.classList.contains('st-header__item--active')) {
                            if (!innerItem.querySelector('.st__item svg')) {
                                var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                                svg.setAttribute('class', 'icon');
                                svg.setAttribute('viewBox', '0 0 24 24');

                                var path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                                path.setAttribute('d', 'm7 10 5 5 5-5z');
                                svg.appendChild(path);
                                var span = innerItem.querySelector('.st__item span');
                                innerItem.insertBefore(svg, span);
                            }
                        }
                        else {
                            var svg = innerItem.querySelector('.st__item svg');
                            if (svg) {
                                innerItem.removeChild(svg);
                            }
                        }
                    });

                });
            });
        });

        /*Control svg image direction*/
        document.addEventListener('DOMContentLoaded', function () {
            var stHeader = document.querySelector('.st-header');
            var d2 = "m7 10 5 5 5-5z";
            var d1 = "m7 14 5-5 5 5z";
            stHeader.addEventListener('click', function (event) {
                var clickedDiv = event.target;
                if (!clickedDiv.classList.contains('st__item--expand')) {
                    var id = clickedDiv.id;
                    console.log(id);
                    var activeDiv = stHeader.querySelector('.st-header__item--active');
                    var path = activeDiv.querySelector('path');
                    var sortMethod = document.querySelector('input[name="Sortmethod"]');
                    var headerIndex = document.querySelector('input[name="HeaderIndex"]');
                    if (path.getAttribute('d') === d1) {
                        path.setAttribute('d', d2);
                        sortMethod.value = "Desc";
                    } else {
                        path.setAttribute('d', d1);
                        sortMethod.value = "Asce";
                    }
                    headerIndex.value = id;
                    console.log(headerIndex);
                    var form = document.querySelector('#sortform');
                    form.submit();
                }
            });
        });

        /*Control show more info*/
        document.addEventListener("DOMContentLoaded", function () {
            var expandElements = document.querySelectorAll(".st-content__category .st__item--expand");
            expandElements.forEach(function (expandElement, index) {
                expandElement.addEventListener("click", function () {
                    var expand = expandElements[index];
                    if (expand.classList.contains("st-content__item-expand--active")) {
                        expand.classList.remove("st-content__item-expand--active");
                    } else {
                        expand.classList.add("st-content__item-expand--active");
                    }
                    var drawer = document.querySelector(".st-content__category>.st-content__drawer:nth-child(" + (2 * (index + 1)) + ")");
                    drawer.style.display = (drawer.style.display === "none" || drawer.style.display === "") ? "block" : "none";
                });
            });
        });

        /*Control the first map highlight: If win active, Losses, Matches, playtime highlight*/
        document.addEventListener("DOMContentLoaded", function () {

        });
    </script>
</body>