@model GAMEDATAHUB.Models.BF2042Model.MapModeView
<body>
    <div class="gdh-wrapper">
        <div class="gdh-container">
            <div class="gdh-content">
                <div class="container">
                    <div class="content">
                        @Html.Partial("_Bf2042LayOut")
                        <div class="site-container trn-grid trn-grid--vertical trn-grid--small" style="position: relative;">
                            <div class="trn-grid trn-grid--small maps">
                                <div class="st st--expand-hide-mobile">
                                    <div class="st-header">
                                        <div class="st__item st-header__item st-header__item--sortable st__item--sticky st__item--wide" style="--st-base-width: 12rem;">
                                            <span class="label">Map</span>
                                        </div>
                                        <div id="header1" class="st__item st-header__item st-header__item--active st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                                                <path d="m7 10 5 5 5-5z"></path>
                                            </svg>
                                            <span id="header1" class="label">Wins</span>
                                        </div>
                                        <div id="header2" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 7rem;">
                                            <span id="header2" class="label">Win %</span>
                                        </div>
                                        <div id="header3" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 5.5rem;">
                                            <span id="header3" class="label">Losses</span>
                                        </div>

                                        <div id="header4" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 6.5rem;">
                                            <span id="header4" class="label">Matches</span>
                                        </div>
                                        <div id="header5" class="st__item st-header__item st-header__item--sortable" style="--st-base-width: 9rem;">
                                            <span id="header5" class="label">Playtime</span>
                                        </div>
                                        <div class="st__item st__item--expand st__item--expand-hide-mobile"></div>
                                    </div>
                                    <div class="st-content">
                                        <div class="st-content__category">
                                            @foreach (var map in Model.Maps)
                                            {
                                                <div class="st-content__item">
                                                    <div class="st__item st-content__item-value st__item--sticky st__item--wide" style="--background-image-url: url(@map.Image); --st-base-width: 12rem;">
                                                        <div data-v-f7cfeda3="" class="info">
                                                            <div data-v-f7cfeda3="" class="value">@map.MapName</div>
                                                        </div>
                                                    </div>
                                                    @if (Model.MaxWins == map.Wins)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Wins.ToString("N0")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Wins.ToString("N0")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.MaxWinPercent == map.WinPercentD)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 7rem;">
                                                            <div class="info">
                                                                <div class="value">@map.WinPercent.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 7rem;">
                                                            <div class="info">
                                                                <div class="value">@map.WinPercent.ToString()</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.MaxLosses == map.Losses)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Losses.ToString("N0")</div>
                                                            </div>
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value " style="--st-base-width: 5.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Losses.ToString("N0")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.MaxMatch == map.Matches)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 6.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Matches.ToString("N0")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 6.5rem;">
                                                            <div class="info">
                                                                <div class="value">@map.Matches.ToString("N0")</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (Model.MaxTime == map.HoursPlayed)
                                                    {
                                                        <div class="st__item st-content__item-value st-content__item-value--highlight" style="--st-base-width: 9rem;">
                                                            <div class="info">
                                                                <div class="value">@(map.HoursPlayed.ToString("N0"))H</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="st__item st-content__item-value" style="--st-base-width: 9rem;">
                                                            <div class="info">
                                                                <div class="value">@(map.HoursPlayed.ToString("N0"))H</div>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="st__item st__item--expand st-content__item-expand st__item--expand-hide-mobile">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 16" class="icon">
                                                            <path d="M2 12a2 2 0 1 1-2 2 2 2 0 0 1 2-2m0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2m0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="st-content__drawer" style="display: none;">
                                                    <div class="stat-dump">
                                                        <div class="category">
                                                            <div class="category__header">Game</div>
                                                            <div class="category__stats">
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Lost</div>
                                                                    <div class="value">@map.Losses.ToString("N0")</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Played</div>
                                                                    <div class="value">@map.Matches.ToString("N0")</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Matches Won</div>
                                                                    <div class="value">@map.Wins.ToString("N0")</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Time Played</div>
                                                                    <div class="value">@(map.HoursPlayed.ToString("N0"))H</div>
                                                                </div>
                                                                <div class="category__stats-stat">
                                                                    <div class="label">Win %</div>
                                                                    <div class="value">@map.WinPercent.ToString()</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var headers = document.querySelectorAll('.st-header .st-header__item');
            var sortMethod = "Desc";
            headers.forEach(function (header, index) {
                header.addEventListener('click', function () {
                    //To control when header is active the color change to green
                    headers.forEach(function (innerItem) {
                        innerItem.classList.remove('st-header__item--active');
                    });
                    header.classList.add('st-header__item--active');

                    //To control highligh when header is active
                    var st_content__items = document.querySelectorAll(".st-content__item>.st-content__item-value");
                    st_content__items.forEach(function (st_item) {
                        st_item.classList.remove('st-content__item-value--active');
                    });
                    var selected_st_content__items = document.querySelectorAll(".st-content__item>.st-content__item-value:nth-child(" + (index + 1) + ")");
                    selected_st_content__items.forEach(function (st_item) {
                        if (!st_item.classList.contains('st-content__item-value--active')) {
                            st_item.classList.add('st-content__item-value--active');
                        }
                    });

                    //To control the svg when header is active
                    headers.forEach(function (header) {
                        if (header.classList.contains('st-header__item--active')) {
                            //Add the svg if the header is active
                            if (!header.querySelector('.st__item svg')) {
                                var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                                svg.setAttribute('class', 'icon');
                                svg.setAttribute('viewBox', '0 0 24 24');

                                var path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                                path.setAttribute('d', 'm7 10 5 5 5-5z');
                                svg.appendChild(path);
                                var span = header.querySelector('.st__item span');
                                header.insertBefore(svg, span);
                            } else {
                                //Switch between Desc and Asce
                                var pathValue = header.querySelector('.st__item .icon path').getAttribute('d');
                                var d2 = "m7 10 5 5 5-5z";
                                var d1 = "m7 14 5-5 5 5z";
                                if (pathValue === d1) {
                                    header.querySelector('.st__item .icon path').setAttribute('d', d2);
                                    sortMethod = "Desc";
                                } else {
                                    header.querySelector('.st__item .icon path').setAttribute('d', d1);
                                    sortMethod = "Asce";
                                }
                            }
                        }
                        else {
                            var svg = header.querySelector('.st__item svg');
                            if (svg) {
                                header.removeChild(svg);
                            }
                        }
                    });

                    //Send the Ajax Post
                    var heroName = document.getElementById('HeroName').value;
                    var platForm = document.getElementById('PlatForm').value;
                    var headerName = header.querySelector('.label').textContent;
                    $.ajax({
                        url: '@Url.Action("MapsUpdate", "Bf2042")',
                        type: 'POST',
                        data: {
                            HeaderName: headerName,
                            SortMethod: sortMethod,
                            HeroName: heroName,
                            PlatForm: platForm
                        },
                        success: function (response){
                            var parsedData = JSON.parse(response);
                            let mapsModeViews = parsedData.Maps;
                            //Update the content item infomation
                            var contentItems = document.querySelectorAll('.st-content__category .st-content__item');
                            var JsonIndex = 0;
                            contentItems.forEach(function (item) {
                                var HeaderIndex = 0;
                                var st__items = item.querySelectorAll('.st__item');
                                st__items.forEach(function (st__item) {
                                    var child = st__item.querySelector('.info .value');
                                    if (HeaderIndex == 0) {
                                        child.innerText = mapsModeViews[JsonIndex]['MapName'];
                                        st__item.style.setProperty("--background-image-url", mapsModeViews[JsonIndex]['Image']);
                                    }
                                    if (HeaderIndex == 1) {
                                        child.innerText = mapsModeViews[JsonIndex]['Wins'].toLocaleString('en-US');
                                        if (parsedData['MaxWins'] == mapsModeViews[JsonIndex]['Wins']) {
                                            st__item.classList.add('st-content__item-value--highlight');
                                        } else {
                                            st__item.classList.remove('st-content__item-value--highlight');
                                        }
                                    }
                                    if (HeaderIndex == 2) {
                                        child.innerText = mapsModeViews[JsonIndex]['WinPercent'].toLocaleString('en-US');
                                        if (parsedData['MaxWinPercent'] == mapsModeViews[JsonIndex]['WinPercentD']) {
                                            st__item.classList.add('st-content__item-value--highlight');
                                        } else {
                                            st__item.classList.remove('st-content__item-value--highlight');
                                        }
                                    }
                                    if (HeaderIndex == 3) {
                                        child.innerText = mapsModeViews[JsonIndex]['Losses'].toLocaleString('en-US');
                                        if (parsedData['MaxLosses'] == mapsModeViews[JsonIndex]['Losses']) {
                                            st__item.classList.add('st-content__item-value--highlight');
                                        } else {
                                            st__item.classList.remove('st-content__item-value--highlight');
                                        }
                                    }
                                    if (HeaderIndex == 4) {
                                        child.innerText = mapsModeViews[JsonIndex]['Matches'].toLocaleString('en-US');
                                        if (parsedData['MaxMatch'] == mapsModeViews[JsonIndex]['Matches']) {
                                            st__item.classList.add('st-content__item-value--highlight');
                                        } else {
                                            st__item.classList.remove('st-content__item-value--highlight');
                                        }
                                    }
                                    if (HeaderIndex == 5) {
                                        child.innerText = mapsModeViews[JsonIndex]['HoursPlayed'].toLocaleString('en-US') + "H";
                                        if (parsedData['MaxTime'] == mapsModeViews[JsonIndex]['HoursPlayed']) {
                                            st__item.classList.add('st-content__item-value--highlight');
                                        } else {
                                            st__item.classList.remove('st-content__item-value--highlight');
                                        }
                                    }

                                    HeaderIndex += 1;
                                });
                                JsonIndex += 1;
                            });
                            JsonIndex = 0;
                            //Update the content drawer
                            var drawertItems = document.querySelectorAll('.st-content__category .st-content__drawer');
                            drawertItems.forEach(function (drawer) {
                                var categoryItems = drawer.querySelectorAll('.category');
                                var categoryIndex = 0;
                                categoryItems.forEach(function (category) {
                                    if (categoryIndex == 0) {
                                        var stats = category.querySelectorAll('.category__stats-stat .value');
                                        var statIndex = 0;

                                        stats.forEach(function (state) {
                                            if (statIndex == 0) {
                                                state.innerText = mapsModeViews[JsonIndex]['Losses'].toLocaleString('en-US');
                                            }
                                            if (statIndex == 1) {
                                                state.innerText = mapsModeViews[JsonIndex]['Matches'].toLocaleString('en-US');
                                            }
                                            if (statIndex == 2) {
                                                state.innerText = mapsModeViews[JsonIndex]['Wins'].toLocaleString('en-US');
                                            }
                                            if (statIndex == 3) {
                                                state.innerText = mapsModeViews[JsonIndex]['HoursPlayed'].toLocaleString('en-US')+"H";
                                            }
                                            if (statIndex == 4) {
                                                state.innerText = mapsModeViews[JsonIndex]['WinPercent'];
                                            }
                                            statIndex += 1;
                                        });
                                    }
                                    categoryIndex += 1;
                                });
                                JsonIndex += 1;
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    }
                    );
                });
            });

        });
    </script>
</body>